Repository tyriis/home-ops, pull requests merged in 2024-08, with the labels that each got.

#3383 feat(renovate): adaptions
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

#3385 feat(arc): update minRunners
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kind-flux-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/home-ops.yaml
Labels: area/kubernetes, cluster/talos-flux

#3384 feat(cnpg): remove postgres v15 cluster
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/database-server.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes, cluster/talos-flux

#3387 chore: remove capacitor-manifests
  .github/renovate.json5
  kubernetes/base/flux/repositories/oci/capacitor-manifests.yaml
  kubernetes/talos-flux/flux/repositories/oci/capacitor-manifests.yaml
Labels: area/kubernetes, cluster/talos-flux, area/github

#3388 feat(oauth2-proxy): implemented for kube-nas
  kubernetes/kube-nas/apps/auth-system/kustomization.yaml
  kubernetes/kube-nas/apps/auth-system/namespace.yaml
  kubernetes/kube-nas/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/kube-nas/apps/auth-system/oauth2-proxy/app/kustomization.yaml
  kubernetes/kube-nas/apps/auth-system/oauth2-proxy/app/secrets.sops.yaml
  kubernetes/kube-nas/apps/auth-system/oauth2-proxy/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#3389 feat(renovate): adapt config
  .github/renovate.json5
  kubernetes/talos-flux/apps/discord/musicbot/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, area/github

#3408 feat(flux-operator)!: switch to flux-operator
  kubernetes/base/flux/repositories/helm/flux-operator-charts.yaml
  kubernetes/kube-nas/flux/apps-sync.yaml
  kubernetes/kube-nas/flux/config/cluster-secrets.sops.yaml
  kubernetes/kube-nas/flux/config/cluster-settings.yaml
  kubernetes/kube-nas/flux/config/sops-age.sops.yaml
  kubernetes/kube-nas/flux/flux-manifests/gotk-components.yaml
  kubernetes/kube-nas/flux/flux-manifests/kustomization.yaml
  kubernetes/kube-nas/flux/flux-repositories-sync.yaml
  kubernetes/kube-nas/flux/flux-sync.yaml
  kubernetes/kube-nas/flux/flux-system-sync.yaml
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
  kubernetes/kube-nas/flux/instance/kustomization.yaml
  kubernetes/kube-nas/flux/kustomization.yaml
  kubernetes/kube-nas/flux/operator/helm-release.yaml
  kubernetes/kube-nas/flux/operator/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas

#3406 feat(flux): setup flux operator in devenv
  .taskfiles/devenv/cluster.yaml
  .taskfiles/devenv/flux.yaml
  devenv/oci/flux/apps-sync.yaml
  devenv/oci/flux/flux-manifests/kustomization.yaml
  devenv/oci/flux/flux-pvc.yaml
  devenv/oci/flux/flux-sync.yaml
  devenv/oci/flux/instance/flux-instance.yaml
  devenv/oci/flux/instance/kustomization.yaml
  devenv/oci/flux/kustomization.yaml
  devenv/oci/flux/operator/helm-release.yaml
  devenv/oci/flux/operator/kustomization.yaml
  devenv/oci/flux/repositories/helm/kustomization.yaml
  devenv/oci/flux/repositories/oci/home-ops-devenv.yaml
  devenv/oci/registry-config.yaml
Labels: area/kubernetes, area/taskfile

#3426 feat(flux-operator): adjust config
  kubernetes/kube-nas/flux/flux-sync.yaml
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/kube-nas

#3427 fix(flux): typo :(
  kubernetes/kube-nas/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/kube-nas

#3489 ci(renovate): add docker login
  .github/renovate-bot.json5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

#3461 feat(flux): update metrics configuration
  kubernetes/talos-flux/apps/flux-system/gotk/observability/helm-controller.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/kustomization.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/kustomize-controller.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/notification-controller.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/pod-monitor.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/prometheus-rule.yaml
  kubernetes/talos-flux/apps/flux-system/gotk/observability/source-controller.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/kube-state-metrics-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#3499 fix(flux): update kube-state-metrics-values
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/kube-state-metrics-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#3500 chore(atlantis): rework hr
  kubernetes/talos-flux/apps/atlantis/atlantis/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3501 feat(redis): archive
  archive/apps/database/redis/app/helm-release.yaml
  archive/apps/database/redis/app/kustomization.yaml
  archive/apps/database/redis/flux-sync.yaml
  kubernetes/talos-flux/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3508 feat(minecraft-java): add bungeecord proxy
  kubernetes/talos-flux/apps/gaming/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/flux/config/cluster-settings.yaml
Labels: area/kubernetes, cluster/talos-flux

#3509 feat(minecraft-java): setup test-world
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/test-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/test-world/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3533 feat(minecraft): add geyser to bungeecord
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3534 feat(minecraft): adapt geyser config
  .backstage/systems/talos-flux/docs/manual.md
  infra/nixos/hosts/desktop/hardware-configuration.nix
  infra/terraform/README.md
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, area/terraform

#3535 feat(minecraft): switch to velocity
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3543 feat(minecraft): setup waterfall proxy
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/config/config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/persistent-volume-claim.yaml
  kubernetes/talos-flux/flux/config/cluster-settings.yaml
Labels: area/kubernetes, cluster/talos-flux

#3545 feat(minecraft): cleanup old proxy and switch to new
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/config/config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bungeecord/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3546 feat(minecraft): add rcon service
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3512 feat(atlantis): add terraform-gcloud secret
  kubernetes/talos-flux/apps/atlantis/atlantis/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux
