Repository tyriis/home-ops, pull requests merged in 2024-11, with the labels that each got.

#3890 feat(atlantis): reconfigure vault
  kubernetes/talos-flux/apps/atlantis/atlantis/app/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#3893 fix(grafana): add reloader annotation
  .pre-commit-config.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3894 fix(grafana): post render path typo
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3896 fix(external-secrets): adapt external secret store for kube-nas
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#3917 fix(external-secrets): adapt external secret store
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux

#3922 fix(vault): secret store path
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#3937 fix(vault): fix permissions in snapshot cronjob
  kubernetes/kube-nas/apps/secops/vault/snapshots/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#3938 docs: adapt vault readme
  kubernetes/kube-nas/apps/secops/vault/app/README.md
Labels: area/kubernetes, cluster/kube-nas

#3964 chore(pre-commit): update prettier to v3.3.3
  .pre-commit-config.yaml
  infra/terraform/README.md
  kubernetes/talos-flux/apps/networking/unifi/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, area/terraform

#3966 fix(external-dns): disable opnsense external dns for now
  kubernetes/talos-flux/apps/networking/external-dns/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#3967 fix(tofu-controller): disable as it is not reliable
  kubernetes/talos-flux/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3968 fix(minecraft): add spigot server download url
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3969 fix(minecraft): adjust spigot url for all servers
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3986 feat(arc): setup docker login for jazzlyn repo
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kustomization.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/registry-dockerhub.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#3992 feat(arc): switch mode to k8s for test runners
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
Labels: area/kubernetes, cluster/talos-flux

#3994 feat(arc): switch back to dind
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
Labels: area/kubernetes, cluster/talos-flux

#4001 feat(esphome): remove switch bedroom from prometheus
  kubernetes/talos-flux/apps/home-automation/esphome/app/config/kustomization.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/prometheus-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#4061 fix(esphome): remove switch-bedroom
  kubernetes/talos-flux/apps/home-automation/esphome/app/config/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux
