Repository tyriis/home-ops, pull requests merged in 2024-09, with the labels that each got.

#3557 feat(minecraft): adapt minecraft-velocity-proxy
  .pre-commit-config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config/spigot.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/persistent-volume-claim.yaml
Labels: area/kubernetes, cluster/talos-flux

#3560 fix(minecraft): fix velocity secret config
  .mise.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/forwarding.secret
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3563 feat(minecraft): switch to servertype paper
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
Labels: area/kubernetes, cluster/talos-flux

#3564 fix(minecraft): adapt paper config
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3566 feat(minecraft): enable bedrock port for velocity
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3572 fix(kromgo): set server and health ports
  kubernetes/talos-flux/apps/observability/kromgo/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3631 feat(atlantis): implemented allow list for tyriis
  kubernetes/talos-flux/apps/atlantis/atlantis/app/helm-release.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/config/allow_list.sh
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/helm-release.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3632 feat(nixos): push current config
  infra/nixos/fonts.nix
  infra/nixos/hosts/desktop/configuration.nix
  infra/nixos/modules/hyprland.nix
  infra/nixos/modules/nvidia.nix
  infra/nixos/modules/plasma.nix
  infra/nixos/modules/syncthing.nix
  kubernetes/base/flux/repositories/oci/flux-manifests.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/cluster-issuer-staging.yaml
Labels: area/kubernetes, cluster/talos-flux

#3634 feat(k8s-resource): test chart
  .github/workflows/flux-diff.yaml
  kubernetes/base/flux/repositories/helm/mirceanton-charts.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/cluster-issuer-selfsigned.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/helm-release.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/kustomize-config.yaml
Labels: area/kubernetes, cluster/talos-flux, area/github

#3635 feat(flux): prevent prune cert-manager cluster-issuers
  kubernetes/talos-flux/apps/cert-manager/cert-manager/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#3636 feat(k8s-resource): implemented cluster issuers
  kubernetes/talos-flux/apps/cert-manager/cert-manager/flux-sync.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/helm-release.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#3658 feat(devenv): add ingress-nginx
  .taskfiles/devenv/check.yaml
  .taskfiles/devenv/flux.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/app/helm-release.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/app/kustomization.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/flux-sync.yaml
  devenv/oci/apps/ingress-nginx/kustomization.yaml
  devenv/oci/apps/ingress-nginx/namespace.yaml
Labels: area/taskfile

#3667 feat(node-feature-discovery): reconfigure
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/crds/helm-release.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/crds/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/crds/kustomize-config.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/crds/node-feature-rules/intel-gpu.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#3672 fix(node-feature-discovery): typo in label name
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/crds/node-feature-rules/zigbee-stick.yaml
Labels: area/kubernetes, cluster/talos-flux

#3673 fix(nfd): allow to shedule on tainted worker node
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#3675 feat(zigbee2mqtt): improve git based config
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/assets/lumi.sensor_occupy.agl1.js
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux
