Repository tyriis/home-ops, pull requests merged in 2024-05, with the labels that each got.

#2964 feat(tekton): adjust task structure
  kubernetes/talos-flux/apps/devops/tekton/tasks/krr/rbac.yaml
  kubernetes/talos-flux/apps/devops/tekton/tasks/krr/task.yaml
  kubernetes/talos-flux/apps/devops/tekton/tasks/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#2968 ci(renovate): add prevent automerge talos
  .github/renovate.json5
Labels: area/github

#2989 feat(devenv): setup
  .pre-commit-config.yaml
  .taskfiles/devenv/Taskfile.yaml
  .taskfiles/devenv/check.yaml
  .taskfiles/devenv/cluster.yaml
  .taskfiles/devenv/flux.yaml
  Taskfile.yaml
  devenv/README.md
  devenv/infra/main.tf
  devenv/infra/providers.tf
  devenv/oci/apps/cert-manager/cert-manager/app/helm-values.yaml
  devenv/oci/apps/cert-manager/cert-manager/app/kustomization.yaml
  devenv/oci/apps/cert-manager/cert-manager/flux-sync.yaml
  devenv/oci/apps/cert-manager/cert-manager/issuers/cluster-issuer-selfsigned.yaml
  devenv/oci/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  devenv/oci/apps/cert-manager/kustomization.yaml
  devenv/oci/apps/cert-manager/namespace.yaml
  devenv/oci/flux/apps-sync.yaml
  devenv/oci/flux/config/cluster-settings.yaml
  devenv/oci/flux/flux-manifests/kustomization.yaml
  devenv/oci/flux/flux-pvc.yaml
  devenv/oci/flux/flux-sync.yaml
  devenv/oci/flux/repos-sync.yaml
  devenv/oci/flux/repositories/oci/home-ops-devenv.yaml
  devenv/oci/kustomization.yaml
  devenv/oci/registry-config.yaml
Labels: area/taskfile
