Repository tyriis/home-ops, pull requests merged in 2024-03, with the labels that each got.

#2655 feat(loki): enable serviceMonitor #2439
  kubernetes/talos-flux/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#2672 feat(trivy): add trivy to pre-commit
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependency-review.yaml
  .github/workflows/run-trivy.yaml
  .github/workflows/update-flake-lock.yaml
  .pre-commit-config.yaml
  infra/nixos/flake.lock
  infra/nixos/fonts.nix
  infra/nixos/home.nix
  infra/nixos/hosts/dell/configuration.nix
  infra/nixos/hosts/dell/hardware-configuration.nix
  infra/nixos/users.nix
  infra/terraform/README.md
  shell.nix
Labels: area/terraform, area/github

#2678 ci(github): house keeping by removing unused scripts and workflows
  .github/dependabot.yml
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/minecraftVersionCheck.mjs
  .github/workflows/dependency-review.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/run-trivy.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/scorecards.yaml
  .github/workflows/update-flake-lock.yaml
Labels: area/github

#2681 ci(github-actions): update upload-sarif action to v3.24.7
  .github/workflows/run-trivy.yaml
Labels: area/github

#2694 feat(capacitor): add flux sync for capacitor manifests
  kubernetes/talos-flux/apps/flux-system/capacitor/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/kustomization.yaml
  kubernetes/talos-flux/flux/repositories/oci/capacitor-manifests.yaml
Labels: area/kubernetes, cluster/talos-flux

#2696 feat(capacitor): add capacitor helm release and kustomization
  kubernetes/talos-flux/apps/flux-system/capacitor/app/helm-release.yaml
  kubernetes/talos-flux/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/talos-flux/apps/flux-system/capacitor/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#2697 fix(capacitor): update traefik annotations
  kubernetes/talos-flux/apps/flux-system/capacitor/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#2698 fix(capacitor): adjust service account to use existing one
  kubernetes/talos-flux/apps/flux-system/capacitor/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux
