Repository tyriis/home-ops, pull requests merged in 2025-06, with the labels that each got.

#5452 feat(flux): migrate to 2.6.0
  kubernetes/base/flux/repositories/oci/flux-manifests.yaml
  kubernetes/base/flux/repositories/oci/podinfo.yaml
  kubernetes/kube-nas/apps/flux-system/flux-operator/app/oci-repository.yaml
  kubernetes/kube-nas/apps/flux-system/flux-operator/instance/flux-instance.yaml
  kubernetes/talos-flux/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5487 fix(cnpg): added crds for objectstore
  kubernetes/base/flux/repositories/git/dragonfly-operator.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/git-repository.yaml
  kubernetes/talos-flux/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5488 fix(cnpg): barman-cloud certifcates
  kubernetes/talos-flux/apps/database/cloudnative-pg/barman-cloud/helm-release.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5494 fix(cnpg): remove flux magic from cnpg-barman-cloud-crds
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5495 fix(cnpg): use another minio instance
  kubernetes/talos-flux/apps/database/cloudnative-pg/app/helm-release.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5497 fix(cnpg): switch back to current minio instance
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
Labels: area/kubernetes, cluster/talos-flux

#5498 fix(cnpg): try another account seem it has been overwritten
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5514 feat(cnpg): setup new cluster
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5520 fix(cnpg): maybe?
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
Labels: area/kubernetes, cluster/talos-flux

#5521 fix(cnpg): shotgun debug
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
Labels: area/kubernetes, cluster/talos-flux

#5522 feat(dbman): adopt new database
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/database-server.yaml
Labels: area/kubernetes, cluster/talos-flux

#5523 feat(dbman): init new home-assistant db
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/database.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/database.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/database.yaml
Labels: area/kubernetes, cluster/talos-flux

#5525 feat(cnpg): migrate to new cluster
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/database-server.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes, cluster/talos-flux

#5526 feat(cnpg): finalize migration
  kubernetes/talos-flux/apps/productivity/linkwarden/app/external-secret.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#5542 chore(flux): replace SECRET_CLOUDFLARE_TUNNEL_ID by external.techtale…
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/talos-flux/apps/flux-system/flux/webhook/ingress.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/helm-release.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/forward-auth/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5544 feat(kustomize): move globals to kustomize component
  kubernetes/components/flux/globals/talos-flux/kustomization.yaml
Labels: area/kubernetes

#5547 feat(flux): re-structure flux-system
  kubernetes/components/flux/globals/talos-flux/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/app/helm-release.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/app/oci-repository.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/instance/flux-instance.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/instance/helm-release.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/talos-flux/apps/flux-system/flux-operator/instance/kustomize-config.yaml
  kubernetes/talos-flux/apps/flux-system/kustomization.yaml
  kubernetes/talos-flux/apps/windmill/windmill/flux-sync.yaml
  kubernetes/talos-flux/flux/flux-sync.yaml
  kubernetes/talos-flux/flux/instance/kustomization.yaml
  kubernetes/talos-flux/flux/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5583 feat(flux)!: migrate ks to ns
  kubernetes/components/atlantis/external-secret.yaml
  kubernetes/components/atlantis/helm-release.yaml
  kubernetes/components/atlantis/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/README.md
  kubernetes/talos-flux/apps/atlantis-system/default-config/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/default-config/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/default-config/resources/allow_list.sh
  kubernetes/talos-flux/apps/atlantis-system/default-config/resources/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/default-config/resources/vault_config.sh
  kubernetes/talos-flux/apps/atlantis-system/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/namespace.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-opnsense/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-opnsense/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-opnsense/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-opnsense/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-opnsense/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5584 feat(atlantis): re-name ks atlantis-techtales-io-terraform-discord
  kubernetes/talos-flux/apps/atlantis-system/default-config/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#5586 fix(gatus): adjust internal check
  kubernetes/components/gatus/internal/config.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5587 feat(atlantis): migrate to kustomize components
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-discord/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5589 feat(atlantis): migrate to components for techtales-io/terraform-github
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gcloud/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-github/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5590 feat(atlantis): migrate to component techtales-io/terraform-gworkspace
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-gworkspace/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5595 feat(atlantis): migrate techtales-io/terraform-minio to component
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-minio/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5597 feat(atlantis): migrate techtales-io-terraform-vault to component
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/techtales-io/terraform-vault/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5598 feat(atlantis): migrate tyriis/terraform-github to component
  kubernetes/talos-flux/apps/atlantis-system/default-config/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis-system/tyriis/terraform-github/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5599 feat(flux): remove sops injection for atlantis-system
  kubernetes/talos-flux/apps/atlantis-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5600 feat(flux): move ks in ns oauth2-proxy
  kubernetes/talos-flux/apps/auth-system/kustomization.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5601 feat(flux): migrade ks to ns for backup-system
  kubernetes/talos-flux/apps/backup-system/kustomization.yaml
  kubernetes/talos-flux/apps/backup-system/snapshot-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/backup-system/snapshot-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/backup-system/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5602 feat(flux): migrate ks to ns for cert-manager
  kubernetes/talos-flux/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/app/helm-repository.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/flux-sync.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/cluster-issuer-staging.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/helm-release.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/talos-flux/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5604 feat(flux): migrate ks to ns for backstage
  kubernetes/talos-flux/apps/backstage/backstage/app/kustomization.yaml
  kubernetes/talos-flux/apps/backstage/backstage/app/resources/app-config.production.yaml
  kubernetes/talos-flux/apps/backstage/backstage/flux-sync.yaml
  kubernetes/talos-flux/apps/backstage/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5605 feat(flux): migrate ks to ns for default
  kubernetes/talos-flux/apps/default/echo-server/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/echo-server/flux-sync.yaml
  kubernetes/talos-flux/apps/default/homepage/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/homepage/flux-sync.yaml
  kubernetes/talos-flux/apps/default/it-tools/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/it-tools/flux-sync.yaml
  kubernetes/talos-flux/apps/default/kustomization.yaml
  kubernetes/talos-flux/apps/default/openspeedtest/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/openspeedtest/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5606 feat(flux): migrate ks to ns for development
  kubernetes/talos-flux/apps/development/code-server/app/kustomization.yaml
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/development/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5603 feat(renovate): add argo dependency
  .github/renovate.json5
Labels: area/github

#5607 feat(flux): migrate ks to ns for gaming
  kubernetes/talos-flux/apps/discord/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5608 feat(cilium): adjust service annotation
  kubernetes/kube-nas/apps/ingress-nginx/ingress-nginx/app/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/helm-release.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5609 feat(cnpg): move to own namespace
  kubernetes/kube-nas/apps/cnpg-system/cnpg/barman-cloud/helm-release.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/barman-cloud/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/crd/cluster.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/crd/database-server.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/crd/objectstore.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/crd/scheduled-backup.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/secret.sops.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/flux-sync.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/git-repository.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/observability/crd/prometheus-rule.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/observability/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/operator/helm-release.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/operator/helm-repository.yaml
  kubernetes/kube-nas/apps/cnpg-system/cnpg/operator/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/dbman/flux-sync.yaml
  kubernetes/kube-nas/apps/cnpg-system/dbman/operator/helm-release.yaml
  kubernetes/kube-nas/apps/cnpg-system/dbman/operator/helm-repository.yaml
  kubernetes/kube-nas/apps/cnpg-system/dbman/operator/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/kustomization.yaml
  kubernetes/kube-nas/apps/cnpg-system/namespace.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/postgres-superuser-secret.sops.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5615 feat(sops): remove sops injection in namespace backstage
  kubernetes/talos-flux/apps/backstage/backstage/app/external-secret.yaml
  kubernetes/talos-flux/apps/backstage/backstage/app/kustomization.yaml
  kubernetes/talos-flux/apps/backstage/backstage/app/secrets.sops.yaml
  kubernetes/talos-flux/apps/backstage/backstage/flux-sync.yaml
  kubernetes/talos-flux/apps/backstage/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5622 feat(cnpg): move to own namespace
  kubernetes/talos-flux/apps/cnpg-system/cnpg/barman-cloud/helm-release.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/barman-cloud/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/cluster.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/database-server.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/external-secret.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/scheduled-backup.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/secret.sops.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/flux-sync.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/git-repository.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/observability/crd/prometheus-rule.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/observability/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/operator/helm-release.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/operator/helm-repository.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/operator/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/dbman/flux-sync.yaml
  kubernetes/talos-flux/apps/cnpg-system/dbman/operator/helm-release.yaml
  kubernetes/talos-flux/apps/cnpg-system/dbman/operator/helm-repository.yaml
  kubernetes/talos-flux/apps/cnpg-system/dbman/operator/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5623 feat(cnpg): prepare cluster in new namespace and recover from backup
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/cluster.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/database-server.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/external-secret.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5624 feat(cnpg): migrate hass to new cluster
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5625 feat(cnpg): enable backup
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/scheduled-backup.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/observability/kustomization.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/observability/prometheus-rule.yaml
Labels: area/kubernetes, cluster/talos-flux

#5627 feat(cnpg): migrate other parts
  kubernetes/talos-flux/apps/cnpg-system/cnpg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5628 feat(cnpg): remove orphaned manifests after migration
  .pre-commit-config.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/flux-sync.yaml
  kubernetes/talos-flux/apps/cnpg-system/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/app/helm-release.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/barman-cloud/helm-release.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/database-server.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/postgres-superuser-secret.sops.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/git-repository.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/observability/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/observability/prometheus-rule.yaml
  kubernetes/talos-flux/apps/database/dbman/flux-sync.yaml
  kubernetes/talos-flux/apps/database/dbman/operator/helm-release.yaml
  kubernetes/talos-flux/apps/database/dbman/operator/kustomization.yaml
  kubernetes/talos-flux/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5629 feat(dbman): adjust dbman depdendsOn
  kubernetes/talos-flux/apps/cnpg-system/dbman/flux-sync.yaml
  kubernetes/talos-flux/apps/cnpg-system/dbman/operator/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/flux-sync.yaml
  kubernetes/talos-flux/apps/windmill/windmill/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5634 feat(dragonfly): migrate to namespace
  kubernetes/talos-flux/apps/database/dragonfly/flux-sync.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/cluster/crd/cluster.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/cluster/helm-release.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/cluster/kustomize-config.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/flux-sync.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/git-repository.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/observability/crd/pod-monitor.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/observability/helm-release.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/observability/kustomization.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/observability/kustomize-config.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/operator/helm-release.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/operator/kustomization.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/operator/rbac.yaml
  kubernetes/talos-flux/apps/dragonfly-system/kustomization.yaml
  kubernetes/talos-flux/apps/dragonfly-system/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5635 feat(dragonfly): migrate operator
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/flux-sync.yaml
  kubernetes/talos-flux/apps/dragonfly-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5636 feat(dragonfly): create new cluster
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5637 feat(dragonfly): migrate services to new cluster
  kubernetes/components/atlantis/helm-release.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/flux-sync.yaml
  kubernetes/talos-flux/apps/dragonfly-system/dragonfly/observability/crd/pod-monitor.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/app/configuration.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5648 feat(flux): migrate ks in ns github
  kubernetes/talos-flux/apps/github/actions-runner-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/github/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5651 feat(flux): migrate ks in ns kube-tools
  kubernetes/talos-flux/apps/kube-system/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/rules/helm-release.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/rules/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/rules/kustomize-config.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/rules/node-feature-rules/intel-gpu.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/rules/node-feature-rules/zigbee-stick.yaml
  kubernetes/talos-flux/apps/kube-tools/reloader/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5652 feat(flux): migrate ks in ns home-automation
  kubernetes/talos-flux/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/secrets.sops.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5653 feat(flux): migrate ks in ns kyverno
  kubernetes/talos-flux/apps/kyverno/kustomization.yaml
  kubernetes/talos-flux/apps/kyverno/kyverno/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5657 feat(flux): move ks in ns ingress-nginx
  kubernetes/talos-flux/apps/ingress-nginx/ingress-nginx/app/helm-release.yaml
  kubernetes/talos-flux/apps/ingress-nginx/ingress-nginx/app/kustomization.yaml
  kubernetes/talos-flux/apps/ingress-nginx/ingress-nginx/flux-sync.yaml
  kubernetes/talos-flux/apps/ingress-nginx/kustomization.yaml
  kubernetes/talos-flux/apps/ingress-nginx/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5658 feat(flux): migrate ks in ns voice-assistant
  kubernetes/talos-flux/apps/voice-assistant/kustomization.yaml
  kubernetes/talos-flux/apps/voice-assistant/piper/app/helm-release.yaml
  kubernetes/talos-flux/apps/voice-assistant/piper/flux-sync.yaml
  kubernetes/talos-flux/apps/voice-assistant/whisper/app/helm-release.yaml
  kubernetes/talos-flux/apps/voice-assistant/whisper/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5659 feat(flux): migrate ks in ns traefik-ingress
  kubernetes/talos-flux/apps/traefik-ingress/kustomization.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/app/helm-release.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5660 feat(flux): migrate ks in ns system-upgrade
  kubernetes/talos-flux/apps/system-upgrade/kustomization.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5664 feat(flux): migrate ks in ns secops
  .pre-commit-config.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/flux-sync.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/kustomization.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/rbac.yaml
  kubernetes/talos-flux/apps/secops/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5666 feat(flux): migrate ks in ns rook-ceph
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/gatus/flux-sync.yaml
  kubernetes/talos-flux/apps/rook-ceph/kustomization.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5675 fix(argo-system): namespace
  kubernetes/talos-flux/apps/argo-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5676 feat(flux): rename ns backstage > developer-hub
  kubernetes/talos-flux/apps/developer-hub/backstage/app/external-secret.yaml
  kubernetes/talos-flux/apps/developer-hub/backstage/app/helm-release.yaml
  kubernetes/talos-flux/apps/developer-hub/backstage/app/kustomization.yaml
  kubernetes/talos-flux/apps/developer-hub/backstage/app/resources/app-config.production.yaml
  kubernetes/talos-flux/apps/developer-hub/backstage/flux-sync.yaml
  kubernetes/talos-flux/apps/developer-hub/kustomization.yaml
  kubernetes/talos-flux/apps/developer-hub/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5681 feat(flux): migrate ks in ns observability
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/botkube/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/botkube/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/gatus/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/grafana/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kromgo/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/prometheus-values.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/loki/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/promtail/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/promtail/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/smartctl-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/unpoller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5693 feat(minecraft): workaround for rcon velocity plugin problem
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/plugins/velocityrcon/rcon.toml
Labels: area/kubernetes, cluster/talos-flux

#5694 feat(minecraft): workaround for rcon velocity plugin problem
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/plugins/velocityrcon/rcon.toml
Labels: area/kubernetes, cluster/talos-flux

#5702 fix(minecraft): revert rcon workaround
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/plugins/velocityrcon/rcon.toml
Labels: area/kubernetes, cluster/talos-flux

#5703 fix(minecraft): revert rcon workaround
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/plugins/velocityrcon/rcon.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5696 feat(devenv): restructure apps
  .taskfiles/devenv/flux.yaml
  devenv/oci/apps/cert-manager/cert-manager/app/kustomization.yaml
  devenv/oci/apps/cert-manager/cert-manager/flux-sync.yaml
  devenv/oci/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  devenv/oci/apps/cert-manager/kustomization.yaml
  devenv/oci/apps/cert-manager/namespace.yaml
  devenv/oci/apps/flux-system/flux-operator/flux-sync.yaml
  devenv/oci/apps/flux-system/namespace.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/flux-sync.yaml
  devenv/oci/apps/ingress-nginx/kustomization.yaml
  devenv/oci/apps/ingress-nginx/namespace.yaml
  devenv/oci/apps/kube-system/metrics-server/flux-sync.yaml
  devenv/oci/apps/kube-system/namespace.yaml
  devenv/oci/apps/kube-tools/i-see-dead-pods/flux-sync.yaml
  devenv/oci/apps/kube-tools/kustomization.yaml
  devenv/oci/apps/kube-tools/namespace.yaml
  devenv/oci/apps/kube-tools/reloader/flux-sync.yaml
  devenv/oci/flux/config/cluster-settings.yaml
  devenv/oci/flux/kustomization.yaml
  devenv/oci/registry-config.yaml
Labels: area/taskfile, area/devenv

#5707 feat(devenv): add api schema to kustomization files
  devenv/oci/apps/ingress-nginx/ingress-nginx/app/kustomization.yaml
  devenv/oci/apps/kube-tools/i-see-dead-pods/app/kustomization.yaml
  devenv/oci/apps/kube-tools/reloader/app/kustomization.yaml
Labels: area/devenv

#5709 feat(alertmanager-discord): disable flux global substitution
  kubernetes/talos-flux/apps/observability/alertmanager-discord/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/flux-sync.yaml
  kubernetes/talos-flux/flux/config/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5713 feat(k8tz): remove no longer needed TZ configs
  kubernetes/base/apps/minecraft/paper-server/helm-release.yaml
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/playit/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/scanservjs/app/helm-release.yaml
  kubernetes/talos-flux/apps/voice-assistant/piper/app/helm-release.yaml
  kubernetes/talos-flux/apps/voice-assistant/whisper/app/helm-release.yaml
  kubernetes/talos-flux/flux/config/cluster-settings.yaml
  kubernetes/talos-flux/flux/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5714 feat(flux): remove ks adn hr from flux info channel
  kubernetes/talos-flux/apps/flux-system/flux/notifications/discord/alert.yaml
Labels: area/kubernetes, cluster/talos-flux

#5717 Revert "feat(github-runners): update group ( 0.11.0 → 0.12.0 )"
  kubernetes/talos-flux/apps/github/actions-runner-controller/operator/helm-release.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kind-flux-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/organization/techtales-io.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/home-ops.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/homeassistant-config.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5768 feat(renovate): update renovate configuration
  .github/renovate.json5
Labels: area/github

#5769 feat(renovate): app template pr per cluster #5290
  .github/renovate.json5
Labels: area/github

#5825 feat(jazzlyn): setup ring-ml-person-detector inference app
  kubernetes/talos-flux/apps/jazzlyn/kustomization.yaml
  kubernetes/talos-flux/apps/jazzlyn/namespace.yaml
  kubernetes/talos-flux/apps/jazzlyn/ring-ml-person-detector/app/helm-release.yaml
  kubernetes/talos-flux/apps/jazzlyn/ring-ml-person-detector/app/kustomization.yaml
  kubernetes/talos-flux/apps/jazzlyn/ring-ml-person-detector/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5826 fix(ml-person-detector): add emptyDirs for write options
  kubernetes/talos-flux/apps/jazzlyn/ring-ml-person-detector/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5827 feat(windmill): disable for now
  kubernetes/talos-flux/apps/windmill/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5834 feat(flux): add renovate configuration for flux manifests
  kubernetes/base/flux/repositories/oci/flux-manifests.yaml
Labels: area/kubernetes
