Repository tyriis/home-ops, pull requests merged in 2025-07, with the labels that each got.

#5961 fix(homepage): add newly introduced proxmox config #5956
  kubernetes/talos-flux/apps/default/homepage/app/config/proxmox.yaml
  kubernetes/talos-flux/apps/default/homepage/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/homepage/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5982 fix(cnpg): prevent k8tz injection for namespace
  kubernetes/talos-flux/apps/cnpg-system/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5983 fix(cnpg): prevent k8tz injection in cnpg-system
  kubernetes/kube-nas/apps/cnpg-system/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5984 fix(cnpg): backup does not work properly with cron based annotation
  kubernetes/kube-nas/apps/cnpg-system/cnpg/cluster/crd/scheduled-backup.yaml
  kubernetes/talos-flux/apps/cnpg-system/cnpg/cluster/scheduled-backup.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#6019 feat(minecraft): update seed
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config-map.yaml
Labels: area/kubernetes, cluster/talos-flux
