Repository tyriis/home-ops, pull requests merged in 2025-09, with the labels that each got.

#6482 feat(adguard): add volsync backup
  kubernetes/talos-flux/apps/networking/adguard-home/app/external-secret.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/app/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#6483 feat(adguard): migrate to kube-lab
  kubernetes/kube-lab/apps/networking/adguard/app/external-secret.yaml
  kubernetes/kube-lab/apps/networking/adguard/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/adguard/app/kustomization.yaml
  kubernetes/kube-lab/apps/networking/adguard/app/persistent-volume-claim.yaml
  kubernetes/kube-lab/apps/networking/adguard/app/replication-destination.yaml
  kubernetes/kube-lab/apps/networking/adguard/app/replication-source.yaml
  kubernetes/kube-lab/apps/networking/adguard/flux-sync.yaml
  kubernetes/kube-lab/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6485 feat(external-dns): add manual cloudflare records
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare-records/dns-endpoint.yaml
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare-records/kustomization.yaml
  kubernetes/kube-lab/apps/networking/external-dns/dnsendpoints/dnsendpoint.yaml
  kubernetes/kube-lab/apps/networking/external-dns/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6517 feat(external-dns): setup for unifi
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/kube-lab/apps/networking/external-dns/flux-sync.yaml
  kubernetes/kube-lab/apps/networking/external-dns/unifi/external-secret.yaml
  kubernetes/kube-lab/apps/networking/external-dns/unifi/helm-release.yaml
  kubernetes/kube-lab/apps/networking/external-dns/unifi/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab

#6525 feat(playit): cleanup, remove playit
  kubernetes/talos-flux/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/playit/app/external-secret.yaml
  kubernetes/talos-flux/apps/networking/playit/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/playit/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/playit/app/networkpolicy.yaml
  kubernetes/talos-flux/apps/networking/playit/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#6526 feat(unifi): remove the controller
  kubernetes/kube-lab/apps/networking/kustomization.yaml
  kubernetes/kube-lab/apps/networking/unifi-controller/app/README.md
  kubernetes/kube-lab/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/unifi-controller/app/kustomization.yaml
  kubernetes/kube-lab/apps/networking/unifi-controller/app/persistent-volume-claim.yaml
  kubernetes/kube-lab/apps/networking/unifi-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/README.md
  kubernetes/talos-flux/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/replication-destination.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/replication-source.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6527 feat(botkube): deprecate and remove
  kubernetes/talos-flux/apps/observability/botkube/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/botkube/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/botkube/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/botkube/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#6528 feat(opnsense-exporter): removed opnsense from the stack
  kubernetes/talos-flux/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#6530 feat(cloudflared): remove old tunnel and migrate to new tunnel
  kubernetes/kube-lab/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare-records/dns-endpoint.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6536 feat(blackbox-exporter): update checks after unifi migration
  kubernetes/kube-lab/apps/observability/blackbox-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6603 feat(arr): setup prowlarr
  kubernetes/kube-lab/apps/media/kustomization.yaml
  kubernetes/kube-lab/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/kube-lab/apps/media/prowlarr/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6606 feat(adguard): unifi is solving all the problems currently
  kubernetes/kube-lab/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab

#6609 feat(plex): setup
  kubernetes/kube-lab/apps/media/kustomization.yaml
  kubernetes/kube-lab/apps/media/plex/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/plex/app/kustomization.yaml
  kubernetes/kube-lab/apps/media/plex/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6610 feat(arr): reconfigure persistence
  kubernetes/kube-lab/apps/media/bazarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/radarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/sonarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/storage.yaml
Labels: area/kubernetes, cluster/kube-lab

#6638 feat(home-assistant): migrate to kube-lab
  kubernetes/kube-lab/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6641 fix(esphome): prometheus monitoring rules
  kubernetes/kube-lab/apps/home-automation/esphome/app/prometheus-rule.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/prometheus-values.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6683 feat(n8n): adjust config (deprecation warnings)
  kubernetes/kube-lab/apps/home-automation/n8n/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6691 feat(external-certs): added cert for nas.techtales.io
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/certificate.yaml
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/kustomization.yaml
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/push-secret.yaml
  kubernetes/kube-lab/apps/cert-manager/cert-manager/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6692 feat(external-certs): enable push secret
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/kustomization.yaml
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/push-secret.yaml
Labels: area/kubernetes, cluster/kube-lab

#6695 fix(external-certs): adjust push secret
  kubernetes/kube-lab/apps/cert-manager/cert-manager/external-certs/push-secret.yaml
Labels: area/kubernetes, cluster/kube-lab

#6709 feat(argo-workflows): implement push-secret watcher
  kubernetes/kube-lab/apps/argo-system/argo-events/app/helm-release.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/flux-sync.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/push-secret-events/event-bus.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/push-secret-events/event-source.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/push-secret-events/kustomization.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/push-secret-events/rbac.yaml
  kubernetes/kube-lab/apps/argo-system/argo-events/push-secret-events/sensor.yaml
  kubernetes/kube-lab/apps/argo-system/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab
