Repository tyriis/home-ops, pull requests merged in 2025-05, with the labels that each got.

#5053 chore(democratic-csi): adjust formating
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5059 feat(app-template): migrate bjw-s charts to bjw-s-labs
  kubernetes/base/apps/atlantis/app/helm-release.yaml
  kubernetes/base/flux/repositories/helm/bjw-s-charts.yaml
  kubernetes/talos-flux/apps/atlantis/README.md
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-vault/helm-values.yaml
  kubernetes/talos-flux/apps/default/hajimari/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/bookmarks.yaml
Labels: area/kubernetes, cluster/talos-flux

#5063 feat(system-upgrade): implemented talos + kubernetes upgrades with
  infra/talos/talconfig.yaml
  kubernetes/talos-flux/apps/system-upgrade/kustomization.yaml
  kubernetes/talos-flux/apps/system-upgrade/namespace.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-flux

#5065 fix(system-upgrade): copy paste error
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5066 fix(system-upgrade): path to plans
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5067 feat(talos): increase namespace permissions
  kubernetes/talos-flux/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#5070 Revert "feat(container): update image ghcr.io/siderolabs/kubelet ( v1.32.3 → v1.33.0 )"
  infra/talos/talconfig.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5069 fix(system-upgrade): adjust plan
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes, cluster/talos-flux

#5071 fix(system-upgrade): get proper hostip
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-flux

#5072 fix(system-upgrade): adjusted secret name
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/talos-flux/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-flux

#5091 fix(homepage): adjust openbao
  kubernetes/talos-flux/apps/default/homepage/app/config/services.yaml
Labels: area/kubernetes, cluster/talos-flux

#5092 feat(homepage): switch openbao logo
  kubernetes/talos-flux/apps/default/homepage/app/config/services.yaml
Labels: area/kubernetes, cluster/talos-flux

#5094 feat(n8n): setup
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5095 ci(renovate): no longer pin system-upgrade-controller plans
  .github/renovate.json5
Labels: area/github

#5096 feat(unpoller): setup
  kubernetes/talos-flux/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/unpoller/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/unpoller/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/unpoller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5116 feat(n8n): adjust url generation
  kubernetes/talos-flux/apps/home-automation/n8n/app/helm-release.yaml
  kubernetes/talos-flux/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/talos-flux/flux/config/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5118 feat(n8n): setup cloudflared tunnel
  kubernetes/talos-flux/apps/home-automation/n8n/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#5141 chore(talos): remove talos05 node
  infra/talos/talconfig.yaml
Labels: cluster/talos-flux

#5150 feat(democratic-csi): adjust local host path
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5151 feat(flux): migrate to democratic csi
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/kube-nas

#5152 feat(bunkerweb): add official chart repo
  kubernetes/base/flux/repositories/helm/bunkerweb-charts.yaml
Labels: area/kubernetes

#5153 fix(flux): add missing instance values
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
  kubernetes/talos-flux/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5154 feat(harbor): migrate to democratic csi hostpath
  kubernetes/kube-nas/apps/oci-registry/harbor/app/helm-release.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/app/pvc.yaml
Labels: area/kubernetes, cluster/kube-nas

#5155 feat(cnpg): migrate to democratic-csi hostpath
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kube-nas

#5156 fix(bunkerweb): adjust config
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/helm-release.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/ingress-class.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/kustomization.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/database-server.yaml
Labels: area/kubernetes, cluster/kube-nas

#5157 fix(cnpg): init empty cluster backup restore does not work :(
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kube-nas

#5158 fix(cnpg): adjust backup location and config
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/postgres-minio-secret.sops.yaml
Labels: area/kubernetes, cluster/kube-nas

#5159 fix(cnpg): add missing wal encryption
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kube-nas

#5160 feat(minio): switch to hostpath and setup proper password
  kubernetes/kube-nas/apps/minio-system/minio/app/helm-release.yaml
  kubernetes/kube-nas/apps/minio-system/minio/app/secrets.sops.yaml
  kubernetes/kube-nas/apps/minio-system/minio/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5161 fix(atlantis): adjust atlantis techtales-io/terraform-minio secrets
  kubernetes/kube-nas/apps/minio-system/README.md
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5163 feat(openebs): prepare decomissioning
  kubernetes/kube-nas/apps/openebs-system/openebs/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5164 feat(openebs): switch to democratic-csi for local path
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/helm-release.yaml
  kubernetes/kube-nas/apps/openebs-system/kustomization.yaml
  kubernetes/kube-nas/apps/openebs-system/namespace.yaml
  kubernetes/kube-nas/apps/openebs-system/openebs/app/helm-release.yaml
  kubernetes/kube-nas/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/kube-nas/apps/openebs-system/openebs/flux-sync.yaml
  kubernetes/kube-nas/bootstrap/README.md
  kubernetes/kube-nas/bootstrap/democratic-csi/kustomization.yaml
  kubernetes/kube-nas/bootstrap/democratic-csi/values.yaml
  kubernetes/kube-nas/bootstrap/openebs/values.yaml
Labels: area/kubernetes, cluster/kube-nas

#5173 feat(bunkerweb): setup ingress for bunkerweb
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5174 fix(cnpg): remove old dependencies and secret missconfiguration
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/postgres-superuser-secret.sops.yaml
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5175 fix(bunkerweb): ingress config
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5176 feat(bunkerweb): setup echo server test
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/helm-release.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/ingress.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas

#5177 fix(bunkerweb): enable drift detection and tls for echo-server
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/helm-release.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/ingress.yaml
Labels: area/kubernetes, cluster/kube-nas

#5196 Revert "fix(deps): update helm release cilium ( 1.17.3 → 1.17.4 )"
  kubernetes/kube-nas/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/kube-nas/bootstrap/cilium/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/talos-flux/bootstrap/cilium/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5208 feat(openbao): migrate to democratic csi
  kubernetes/kube-nas/apps/secops/openbao/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5209 feat(csi-driver-nfs)!: remove
  kubernetes/kube-nas/apps/kube-system/csi-driver-nfs/app/helm-release.yaml
  kubernetes/kube-nas/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/kube-nas/apps/kube-system/csi-driver-nfs/app/storage-class.yaml
  kubernetes/kube-nas/apps/kube-system/csi-driver-nfs/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas

#5210 feat(flux): add kube-nas webhook-receiver
  kubernetes/kube-nas/apps/flux-system/flux/flux-sync.yaml
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
  kubernetes/kube-nas/apps/flux-system/flux/webhook/kustomization.yaml
  kubernetes/kube-nas/apps/flux-system/flux/webhook/secrets.sops.yaml
  kubernetes/kube-nas/apps/flux-system/kustomization.yaml
  kubernetes/kube-nas/apps/flux-system/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5211 fix(external-secrets): migrate to api v1
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
  kubernetes/kube-nas/apps/secops/openbao/snapshots/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-vault/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/tyriis/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/external-secret.yaml
  kubernetes/talos-flux/apps/default/homepage/app/external-secret.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-bluemap-postgres.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/networking/external-dns/cloudflare/external-secret.yaml
  kubernetes/talos-flux/apps/networking/external-dns/opnsense/external-secret.yaml
  kubernetes/talos-flux/apps/networking/playit/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/external-secrets.yaml
  kubernetes/talos-flux/apps/observability/unpoller/app/external-secret.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/external-secret.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5214 feat(flux): add external dns for ingress
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5215 feat(cloudflared): add config for flux-webhook.kube-nas.techtales.io
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5218 fix(flux): no longer load receiver via chart
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5220 fix(flux): kube-nas flux webhook receiver
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/config/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5221 fix(kustomize): migrate commonLabels for kube-nas bootstrap
  kubernetes/kube-nas/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/kube-nas/bootstrap/cilium/kustomization.yaml
  kubernetes/kube-nas/bootstrap/coredns/kustomization.yaml
  kubernetes/kube-nas/bootstrap/democratic-csi/kustomization.yaml
  kubernetes/kube-nas/bootstrap/flux-operator/kustomization.yaml
  kubernetes/kube-nas/bootstrap/kubelet-csr-approver/kustomization.yaml
  kubernetes/kube-nas/bootstrap/metrics-server/kustomization.yaml
  kubernetes/talos-flux/apps/backstage/backstage/app/kustomization.yaml
  kubernetes/talos-flux/apps/backstage/backstage/flux-sync.yaml
  kubernetes/talos-flux/apps/cert-manager/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/observability/kustomization.yaml
  kubernetes/talos-flux/apps/database/dbman/flux-sync.yaml
  kubernetes/talos-flux/apps/database/dbman/operator/kustomization.yaml
  kubernetes/talos-flux/apps/database/dragonfly/flux-sync.yaml
  kubernetes/talos-flux/apps/database/kustomization.yaml
  kubernetes/talos-flux/apps/default/echo-server/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/echo-server/flux-sync.yaml
  kubernetes/talos-flux/apps/default/hajimari/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/hajimari/flux-sync.yaml
  kubernetes/talos-flux/apps/default/homepage/flux-sync.yaml
  kubernetes/talos-flux/apps/default/it-tools/flux-sync.yaml
  kubernetes/talos-flux/apps/default/kustomization.yaml
  kubernetes/talos-flux/apps/default/openspeedtest/flux-sync.yaml
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/development/kustomization.yaml
  kubernetes/talos-flux/apps/devops/argo-workflows/app/kustomization.yaml
  kubernetes/talos-flux/apps/devops/argo-workflows/flux-sync.yaml
  kubernetes/talos-flux/apps/devops/kustomization.yaml
  kubernetes/talos-flux/apps/devops/tekton/app/kustomization.yaml
  kubernetes/talos-flux/apps/devops/tekton/flux-sync.yaml
  kubernetes/talos-flux/apps/devops/tekton/krr-cron/kustomization.yaml
  kubernetes/talos-flux/apps/devops/tekton/pipelines/kustomization.yaml
  kubernetes/talos-flux/apps/devops/tekton/tasks/kustomization.yaml
  kubernetes/talos-flux/apps/devops/tekton/triggers/kustomization.yaml
  kubernetes/talos-flux/apps/discord/kustomization.yaml
  kubernetes/talos-flux/apps/discord/musicbot/app/kustomization.yaml
  kubernetes/talos-flux/apps/discord/musicbot/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#5222 fix(minecraft): disable bluemap for now
  kubernetes/talos-flux/apps/gaming/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#5223 chore(flux): add receiver as yaml manifest maybe there is a better way
  kubernetes/kube-nas/apps/flux-system/flux/webhook/kustomization.yaml
  kubernetes/kube-nas/apps/flux-system/flux/webhook/receiver.yaml
Labels: area/kubernetes, cluster/kube-nas

#5224 chore(flux): remnove substitution label
  kubernetes/talos-flux/apps/gaming-public/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/operator/kustomization.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kustomization.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/kustomization.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/organization/kustomization.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/kustomization.yaml
  kubernetes/talos-flux/apps/github/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5225 fix(kustomize): move labels to flux and harmonize config for ns
  kubernetes/talos-flux/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/secrets.sops.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/storage/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/storage/secrets.sops.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/secrets.sops.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/hisense-aircon/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/locking-service/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/app/config/.gitconfig
  kubernetes/talos-flux/apps/home-automation/node-red/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5226 fix(volsync): cache volume size for home-assistant
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/replication-destination.yaml
Labels: area/kubernetes, cluster/talos-flux

#5227 chore(flux): harmonize config for cilium
  kubernetes/talos-flux/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/cilium/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5228 feat(flux)!: rename apps-coredns > coredns
  kubernetes/talos-flux/apps/kube-system/cilium/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/coredns/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5231 chore(flux): harmonize config
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/coredns/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5232 chore(flux): harmonize config for csi-driver-nfs
  kubernetes/talos-flux/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/csi-driver-nfs/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/kubelet-csr-approver/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/metrics-server/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/snapshot-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/volsync/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5233 feat(flux)!: rename apps-node-feature-discovers and apps-reloader
  kubernetes/talos-flux/apps/kube-tools/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/node-feature-discovery/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-tools/reloader/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5234 feat(flux)!: rename apps-kyverno-app-sync
  kubernetes/talos-flux/apps/kyverno/kustomization.yaml
  kubernetes/talos-flux/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/talos-flux/apps/kyverno/kyverno/flux-sync.yaml
  kubernetes/talos-flux/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5235 chore(flux): harmonize config
  kubernetes/talos-flux/apps/networking/adguard-home/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/talos-flux/apps/networking/external-dns/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/playit/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5236 chore(flux): harmonize config for redirect-service
  kubernetes/talos-flux/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/redirect-service/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/unifi/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/unifi/app/replication-destination.yaml
  kubernetes/talos-flux/apps/networking/unifi/app/replication-source.yaml
  kubernetes/talos-flux/apps/networking/unifi/app/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/unifi/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5237 chore(flux): harmonize config for nginx-ingress
  kubernetes/talos-flux/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/README.md
  kubernetes/talos-flux/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/replication-destination.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/replication-source.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/nginx-ingress/nginx/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5238 chore: add new line
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/persistent-volume-claim.yaml
Labels: area/kubernetes, cluster/talos-flux

#5239 feat(flux)!: rename apps-alertmanager-discord
  kubernetes/talos-flux/apps/observability/alertmanager-discord/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5240 chore(flux): adjust config for blackbox-exporter
  kubernetes/talos-flux/apps/observability/blackbox-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/botkube/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/botkube/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/botkube/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5241 feat(flux)!: rename apps-grafana > grafana
  kubernetes/talos-flux/apps/observability/botkube/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/grafana-admin.sops.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/grafana-env.sops.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/grafana/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5242 feat(flux)!: rename apps-kromgo > kromgo
  kubernetes/talos-flux/apps/observability/kromgo/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/kromgo/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5243 feat(flux)!: rename apps-kube-prometheus-stack > kube-prometheus-stack
  kubernetes/talos-flux/apps/cert-manager/cert-manager/flux-sync.yaml
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/flux/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/alertmanager-discord/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/botkube/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/grafana/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kromgo/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/loki/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/promtail/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/smartctl-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/volsync/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5244 feat(flux)!: rename apps-cilium > cilium
  kubernetes/talos-flux/apps/kube-system/cilium/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5245 feat(flux)!: rename apps-dbman > dbman
  kubernetes/talos-flux/apps/database/cloudnative-pg/flux-sync.yaml
  kubernetes/talos-flux/apps/database/dbman/flux-sync.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5246 feat(flux)!: rename apps-loki > loki
  kubernetes/talos-flux/apps/observability/loki/app/htpasswd.sops.yaml
  kubernetes/talos-flux/apps/observability/loki/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/loki/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/loki/app/secrets.sops.yaml
  kubernetes/talos-flux/apps/observability/loki/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/promtail/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5247 chore(flux): harmonize config
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/promtail/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/promtail/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5248 feat(flux)!: rename apps-smartctl-exporter > smartctl-exporter
  kubernetes/talos-flux/apps/observability/smartctl-exporter/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5249 fix(dbman): helmrelease should install crds
  kubernetes/talos-flux/apps/database/dbman/operator/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5250 fix(botkube): do not wait for ready
  kubernetes/talos-flux/apps/observability/botkube/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/speedtest-exporter/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5251 feat(flux)!: rename apps-uptime-kuma > uptime-kuma
  kubernetes/talos-flux/apps/observability/unpoller/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5252 chore(flux): harmonize config for openebs
  kubernetes/talos-flux/apps/observability/uptime-kuma/app/kustomization.yaml
  kubernetes/talos-flux/apps/openebs-system/kustomization.yaml
  kubernetes/talos-flux/apps/openebs-system/openebs/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5253 feat(flux)!: rename apps-syncthing, apps-scanservjs
  kubernetes/talos-flux/apps/productivity/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/flux-sync.yaml
  kubernetes/talos-flux/apps/productivity/scanservjs/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/scanservjs/flux-sync.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5254 feat(flux)!: rename apps-rook-ceph-cluster, apps-rook-ceph-operator
  kubernetes/talos-flux/apps/atlantis/tyriis/flux-sync.yaml
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/flux-sync.yaml
  kubernetes/talos-flux/apps/rook-ceph/kustomization.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/flux-sync.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/talos-flux/apps/volsync/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5255 feat(flux)!: rename apps-external-secrets-store
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/flux-sync.yaml
  kubernetes/talos-flux/apps/default/homepage/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/tofu-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/external-dns/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/playit/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/unpoller/flux-sync.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/flux-sync.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/app/kustomization.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/flux-sync.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/kustomization.yaml
  kubernetes/talos-flux/apps/secops/kustomization.yaml
  kubernetes/talos-flux/apps/secops/vault-auth.yaml
Labels: area/kubernetes, cluster/talos-flux

#5256 feat(flux)!: rename apps-traefik, apps-traefik-forward-auth
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/tyriis/flux-sync.yaml
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/flux-sync.yaml
  kubernetes/talos-flux/apps/system-upgrade/kustomization.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/app/kustomization.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/flux-sync.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/forward-auth/kustomization.yaml
  kubernetes/talos-flux/apps/voice-assistant/piper/flux-sync.yaml
  kubernetes/talos-flux/apps/voice-assistant/whisper/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5257 feat(flux)!: migrate snapshot-controller and volsync to new namespace
  kubernetes/talos-flux/apps/kube-system/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/snapshot-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/snapshot-controller/flux-sync.yaml
  kubernetes/talos-flux/apps/volsync/kustomization.yaml
  kubernetes/talos-flux/apps/volsync/namespace.yaml
  kubernetes/talos-flux/apps/volsync/volsync/app/helm-release.yaml
  kubernetes/talos-flux/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/talos-flux/apps/volsync/volsync/app/prometheus-rules.yaml
  kubernetes/talos-flux/apps/volsync/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5261 ci(renovate): test custom datasource for luckperms minecraft plugin
  .github/renovate.json5
Labels: area/github

#5263 ci(renovate): next try luckperms custom data source
  .github/renovate.json5
Labels: area/github

#5265 ci(renovate): 1 more try to make luckperms update
  .github/renovate.json5
Labels: area/github

#5268 ci(renovate): adjust luckperm config
  .github/renovate.json5
Labels: area/github

#5278 feat(hajimari)!: replaced with homepage
  kubernetes/talos-flux/apps/backstage/backstage/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/hajimari/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/hajimari/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/hajimari/flux-sync.yaml
  kubernetes/talos-flux/apps/default/kustomization.yaml
  kubernetes/talos-flux/apps/default/openspeedtest/app/helm-release.yaml
  kubernetes/talos-flux/apps/devops/argo-workflows/app/helm-release.yaml
  kubernetes/talos-flux/apps/devops/tekton/app/ingress.yaml
  kubernetes/talos-flux/apps/flux-system/flux/webhook/ingress.yaml
  kubernetes/talos-flux/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/node-red/app/helm-release.yaml
  kubernetes/talos-flux/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/adguard-home/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/kromgo/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/alertmanager-values.yaml
  kubernetes/talos-flux/apps/observability/kube-prometheus-stack/app/prometheus-values.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/scanservjs/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/helm-release.yaml
  kubernetes/talos-flux/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/talos-flux/apps/traefik-ingress/traefik/app/ingress.yaml
  kubernetes/talos-flux/bootstrap/cilium/values.yaml
Labels: area/kubernetes, cluster/talos-flux

#5285 Revert "chore(container): update image itzg/mc-proxy ( 02a50a9 → 7d27baf )"
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5293 fix(cnpg): superuser access
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kube-nas

#5294 feat(kustomize): components
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
Labels: area/kubernetes

#5312 fix(syncthing): security
  kubernetes/talos-flux/apps/productivity/syncthing/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5314 feat(volsnyc): setup backup for syncthing
  kubernetes/talos-flux/apps/productivity/syncthing/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/replication-destination.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/replication-source.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#5327 fix(syncthing): switch back to user id 1024
  kubernetes/talos-flux/apps/productivity/syncthing/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/syncthing/app/persistent-volume-claim.yaml
Labels: area/kubernetes, cluster/talos-flux

#5328 feat(flux): move ks to namespace
  kubernetes/kube-nas/apps/backup-system/kustomization.yaml
  kubernetes/kube-nas/apps/backup-system/namespace.yaml
  kubernetes/kube-nas/apps/backup-system/snapshot-controller/flux-sync.yaml
  kubernetes/kube-nas/apps/backup-system/volsync/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5330 fix(flux): allow sops to be optional
  kubernetes/kube-nas/apps/backup-system/snapshot-controller/flux-sync.yaml
  kubernetes/kube-nas/apps/backup-system/volsync/flux-sync.yaml
  kubernetes/kube-nas/flux/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5332 feat(flux): move ks to namespace database-system
  kubernetes/kube-nas/apps/database-system/cloudnative-pg/flux-sync.yaml
  kubernetes/kube-nas/apps/database-system/dbman/flux-sync.yaml
  kubernetes/kube-nas/apps/database-system/dragonfly/flux-sync.yaml
  kubernetes/kube-nas/apps/database-system/kustomization.yaml
  kubernetes/kube-nas/apps/database-system/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5333 feat(flux): move ks to namespace bunkerweb-ingress
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/kustomization.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/app/secret.sops.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/bunkerweb/flux-sync.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/kustomization.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5335 fix(flux): namespace reference
  kubernetes/kube-nas/apps/secops/openbao/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5337 feat(flux): move ks to namespace kube-system
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/cilium/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/coredns/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/kubelet-csr-approver/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/kustomization.yaml
  kubernetes/kube-nas/apps/kube-system/metrics-server/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-system/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5338 feat(flux): move ks to namespace minio-system
  kubernetes/kube-nas/apps/minio-system/kustomization.yaml
  kubernetes/kube-nas/apps/minio-system/minio/flux-sync.yaml
  kubernetes/kube-nas/apps/minio-system/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5339 feat(flux): move ks to namespace external-dns
  kubernetes/kube-nas/apps/networking/external-dns/flux-sync.yaml
  kubernetes/kube-nas/apps/networking/kustomization.yaml
  kubernetes/kube-nas/apps/networking/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5342 feat(flux): move ks to namespace oci-registry
  kubernetes/kube-nas/apps/oci-registry/harbor/flux-sync.yaml
  kubernetes/kube-nas/apps/oci-registry/kustomization.yaml
  kubernetes/kube-nas/apps/oci-registry/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5343 feat(flux): move ks to namespace secops
  .pre-commit-config.yaml
  kubernetes/kube-nas/apps/secops/external-secrets/flux-sync.yaml
  kubernetes/kube-nas/apps/secops/kustomization.yaml
  kubernetes/kube-nas/apps/secops/namespace.yaml
  kubernetes/kube-nas/apps/secops/openbao/flux-sync.yaml
  kubernetes/kube-nas/apps/secops/rbac.yaml
Labels: area/kubernetes, cluster/kube-nas

#5349 feat(flux): remove cluster secrets by migrating cloudflare tunnel to
  kubernetes/kube-nas/apps/flux-system/flux/webhook/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#5350 feat(flux): remove namespaced cluster secret
  kubernetes/components/kube-nas/kustomization.yaml
  kubernetes/kube-nas/apps/auth-system/kustomization.yaml
  kubernetes/kube-nas/apps/backup-system/kustomization.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/kustomization.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/flux-sync.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-staging.yaml
  kubernetes/kube-nas/apps/cert-manager/kustomization.yaml
  kubernetes/kube-nas/apps/database-system/kustomization.yaml
  kubernetes/kube-nas/apps/flux-system/flux/flux-sync.yaml
  kubernetes/kube-nas/apps/kube-tools/kustomization.yaml
  kubernetes/kube-nas/apps/minio-system/kustomization.yaml
  kubernetes/kube-nas/apps/oci-registry/kustomization.yaml
  kubernetes/kube-nas/apps/secops/kustomization.yaml
  kubernetes/kube-nas/flux/config/cluster-secrets.sops.yaml
  kubernetes/kube-nas/flux/flux-sync.yaml
  kubernetes/kube-nas/flux/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas

#5352 fix(cert-manager): no idea
  kubernetes/kube-nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-self-signed.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-staging.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
Labels: area/kubernetes, cluster/kube-nas

#5354 feat(cert-manager): move crds to helm
  kubernetes/kube-nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/helm-release.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/kustomize-config.yaml
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/helm-release.yaml
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/flux-sync.yaml
  kubernetes/kube-nas/flux/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#5364 feat(minecraft): use base template chart to reduce overhead
  .pre-commit-config.yaml
  kubernetes/base/apps/minecraft/paper-server/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/plugins/BlueMap/core.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/plugins/BlueMap/maps/lobby.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/plugins/BlueMap/storages/sql.conf
Labels: area/kubernetes, cluster/talos-flux

#5367 feat(minecraft): migrate createive-world to centralized hr template
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/database.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/kustomize-config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/plugins/BlueMap/core.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/plugins/BlueMap/maps/lobby.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/plugins/BlueMap/storages/sql.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-bluemap-postgres.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5368 fix(minecraft): override default settings
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#5369 feat(minecraft): implemented velocity renovate updates
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5370 feat(homepage): add kube-nas monitoring links
  kubernetes/talos-flux/apps/default/homepage/app/config/services.yaml
Labels: area/kubernetes, cluster/talos-flux

#5373 feat(minecraft): move public lobby-world to centralized hr
  .pre-commit-config.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/pvp-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/pvp-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/pvp-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5375 feat(kustomize)!: remove namecapse component cause i dont like it
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/kube-nas/apps/auth-system/kustomization.yaml
  kubernetes/kube-nas/apps/auth-system/namespace.yaml
  kubernetes/kube-nas/apps/backup-system/kustomization.yaml
  kubernetes/kube-nas/apps/backup-system/namespace.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/kustomization.yaml
  kubernetes/kube-nas/apps/bunkerweb-ingress/namespace.yaml
  kubernetes/kube-nas/apps/cert-manager/kustomization.yaml
  kubernetes/kube-nas/apps/cert-manager/namespace.yaml
  kubernetes/kube-nas/apps/database-system/kustomization.yaml
  kubernetes/kube-nas/apps/database-system/namespace.yaml
  kubernetes/kube-nas/apps/default/kustomization.yaml
  kubernetes/kube-nas/apps/default/namespace.yaml
  kubernetes/kube-nas/apps/democratic-csi/kustomization.yaml
  kubernetes/kube-nas/apps/democratic-csi/namespace.yaml
  kubernetes/kube-nas/apps/flux-system/kustomization.yaml
  kubernetes/kube-nas/apps/flux-system/namespace.yaml
  kubernetes/kube-nas/apps/ingress-nginx/kustomization.yaml
  kubernetes/kube-nas/apps/ingress-nginx/namespace.yaml
  kubernetes/kube-nas/apps/kube-system/kustomization.yaml
  kubernetes/kube-nas/apps/kube-system/namespace.yaml
  kubernetes/kube-nas/apps/kube-tools/kustomization.yaml
  kubernetes/kube-nas/apps/kube-tools/namespace.yaml
  kubernetes/kube-nas/apps/minio-system/kustomization.yaml
  kubernetes/kube-nas/apps/minio-system/namespace.yaml
  kubernetes/kube-nas/apps/networking/kustomization.yaml
  kubernetes/kube-nas/apps/networking/namespace.yaml
  kubernetes/kube-nas/apps/observability/kustomization.yaml
  kubernetes/kube-nas/apps/observability/namespace.yaml
  kubernetes/kube-nas/apps/oci-registry/kustomization.yaml
  kubernetes/kube-nas/apps/oci-registry/namespace.yaml
  kubernetes/kube-nas/apps/secops/kustomization.yaml
  kubernetes/kube-nas/apps/secops/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#5378 feat(gatus): initial setup, deprecate uptime-kuma #5119
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/prometheus-rule.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/resources/config.yaml
  kubernetes/talos-flux/apps/observability/gatus/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/uptime-kuma/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5379 feat(gatus): setup cloudflared tunnel config
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#5387 feat(devenv): rename instance
  .taskfiles/devenv/Taskfile.yaml
  .taskfiles/devenv/flux.yaml
  devenv/oci/apps/cert-manager/cert-manager/flux-sync.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/flux-sync.yaml
  devenv/oci/apps/kube-system/metrics-server/flux-sync.yaml
  devenv/oci/apps/kube-tools/i-see-dead-pods/flux-sync.yaml
  devenv/oci/apps/kube-tools/reloader/flux-sync.yaml
  devenv/oci/flux/config/cluster-settings.yaml
  devenv/oci/flux/flux-sync.yaml
  devenv/oci/flux/instance/flux-instance.yaml
  devenv/oci/registry-config.yaml
Labels: area/taskfile

#5391 feat(devenv): migrate app-template v4
  devenv/oci/apps/kube-tools/i-see-dead-pods/app/helm-release.yaml
Labels: area/devenv

#5388 fix(oci): update sha of podinfo
  kubernetes/base/flux/repositories/oci/podinfo.yaml
Labels: area/kubernetes

#5395 fix(gatus): sidecar only watch for cm not for secrets
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5389 feat(devenv): add labeler for devenv changes
  .github/labeler.yaml
  .github/labels.yaml
Labels: area/github

#5396 fix(echo-server): no longer use oauth2-proxy
  kubernetes/talos-flux/apps/default/echo-server/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/grafana/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5397 feat(gatus): add kromgo entry point
  kubernetes/talos-flux/apps/observability/kromgo/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/kromgo/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5402 fix(echo-server): re-enable auth gateway
  kubernetes/talos-flux/apps/default/echo-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5409 fix(nginx): set external traffic policy to cluster
  kubernetes/talos-flux/apps/nginx-ingress/nginx/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5410 fix(oauth2-proxy): lets see if this helps
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/echo-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5411 feat(windmill): setup
  kubernetes/components/sops/talos-flux/kustomization.yaml
  kubernetes/talos-flux/apps/windmill/kustomization.yaml
  kubernetes/talos-flux/apps/windmill/namespace.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/database.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/external-secret.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/helm-release.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/helm-repository.yaml
  kubernetes/talos-flux/apps/windmill/windmill/app/kustomization.yaml
  kubernetes/talos-flux/apps/windmill/windmill/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5423 feat(gatus): add minecraft monitoring
  kubernetes/components/gatus/internal/config.yaml
  kubernetes/components/gatus/internal/kustomization.yaml
  kubernetes/components/gatus/minecraft/config.yaml
  kubernetes/components/gatus/minecraft/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5424 fix(gatus): minecraft server
  kubernetes/components/gatus/minecraft/config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#5425 fix(gatus): minecraft
  kubernetes/components/gatus/minecraft/config.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5434 feat(minecraft): add viaversion velocity config
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/plugins/viaversion/config.yml
Labels: area/kubernetes, cluster/talos-flux

#5449 feat(minecraft): use modrinth for plugins, maybe switch to hangar at
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#5465 feat(minecraft): install vane mod
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#5466 feat(minecraft): install deadbodies plugin for public survival world
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#5467 feat(minecraft): disable DeadBodies addon
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#5468 feat(minecraft): configure AxGrave plugin for public survival world
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-values.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/plugins/AxGraves/config.yml
Labels: area/kubernetes, cluster/talos-flux

#5472 fix(echo-server): ingress config
  kubernetes/talos-flux/apps/default/echo-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#5473 Revert "feat(container): update image ghcr.io/twin/gatus ( v5.17.0 → v5.18.0 )"
  kubernetes/talos-flux/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux
