Repository tyriis/home-ops, pull requests merged in 2025-04, with the labels that each got.

#4831 feat(atlantis): mount service account token for terraform-discord
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#4832 feat(atlantis): implement vault config injection
  kubernetes/base/apps/atlantis/scripts/vault_config.sh
  kubernetes/talos-flux/apps/atlantis/default-config/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4833 feat(arc): replace runner images
  infra/terraform/README.md
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kind-flux-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/organization/techtales-io.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/home-ops.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/homeassistant-config.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux, area/terraform

#4834 feat(anubis): setup anubis poc
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/kustomization.yaml
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/flux-sync.yaml
  kubernetes/talos-flux/apps/anubis-system/kustomization.yaml
  kubernetes/talos-flux/apps/anubis-system/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#4835 feat(anubis): setup ingress
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4836 Feature/anubis setup for grafana
  kubernetes/talos-flux/apps/anubis-system/anubis-grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4838 feat(minecraft): upgrade from 1.21.4 to 1.21.5
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/pvp-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4839 feat(minecraft): rollback paper to 1.21.4
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/pvp-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4840 feat(cloudflared): add anubis before grafana via cloudflared
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4841 feat(cloudflared): try again
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4842 feat(opnsense-exporter): switch to AthennaMind/opnsense-exporter
  kubernetes/talos-flux/apps/observability/grafana/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/configuration.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/external-secrets.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/opnsense-exporter/observability/dashboard.json
  kubernetes/talos-flux/apps/observability/opnsense-exporter/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4843 feat(atlantis): setup vault connection for terraform-discord
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4844 feat(atlantis): setup vault connection for terraform-discord
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/config/repos.yaml
Labels: area/kubernetes, cluster/talos-flux

#4845 feat(atlantis): make vault work :D
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/config/repos.yaml
Labels: area/kubernetes, cluster/talos-flux

#4846 feat(atlantis): adjust vault_config script to work with approle
  kubernetes/base/apps/atlantis/scripts/vault_config.sh
Labels: area/kubernetes

#4847 feat(code-server): setup remote development environment
  kubernetes/talos-flux/apps/development/code-server/app/helm-release.yaml
  kubernetes/talos-flux/apps/development/code-server/app/kustomization.yaml
  kubernetes/talos-flux/apps/development/code-server/flux-sync.yaml
  kubernetes/talos-flux/apps/development/kustomization.yaml
  kubernetes/talos-flux/apps/development/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#4848 feat(code-server): switch to port 8080
  kubernetes/talos-flux/apps/development/code-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4849 fix(arc): metrics
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/gh-actions-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/jazzlyn/kind-flux-demo.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/organization/techtales-io.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/home-ops.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/homeassistant-config.yaml
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github.yaml
Labels: area/kubernetes, cluster/talos-flux

#4856 fix(arc): reconfigure metrics
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4883 feat(cert-manager): allow kube-nas to create techtales.io certs
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-production.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/cluster-issuer-staging.yaml
  kubernetes/kube-nas/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
Labels: area/kubernetes, cluster/kube-nas

#4886 feat(devenv): update and reconfigure
  .taskfiles/devenv/cluster.yaml
  devenv/infra/kind/locals.tf
  devenv/infra/kind/main.tf
  devenv/infra/kind/providers.tf
  devenv/oci/apps/cert-manager/cert-manager/app/helm-values.yaml
  devenv/oci/apps/cert-manager/cert-manager/app/kustomization.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/app/helm-release.yaml
  devenv/oci/apps/ingress-nginx/ingress-nginx/flux-sync.yaml
  devenv/oci/apps/kube-system/metrics-server/app/helm-release.yaml
  devenv/oci/apps/kube-tools/i-see-dead-pods/app/helm-release.yaml
  devenv/oci/apps/kube-tools/reloader/app/helm-values.yaml
  devenv/oci/flux/instance/flux-instance.yaml
  devenv/oci/flux/operator/helm-release.yaml
Labels: area/taskfile

#4913 feat(external-secrets): add openbao-backend #4661
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#4917 feat(openbao): restore from openbao backup
  kubernetes/kube-nas/apps/secops/openbao/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/default/homepage/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#4920 feat(external-secret): migrate atlantis-github-token to openbao #4661
  kubernetes/talos-flux/apps/atlantis/atlantis/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#4921 feat(atlantis): migrate techtales-io/terraform-discord to openbao #4661
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-discord/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#4922 feat(external-secrets): migrate gaming-public/minecraft-java to openbao
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#4923 feat(external-secrets): migrate gaming/minecraft-java to openbao #4661
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-bluemap-postgres.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4924 fix(external-secrets): adjust secretStoreRef for gaming/minecraft-java
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-bluemap-postgres.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
Labels: area/kubernetes, cluster/talos-flux

#4925 feat(external-secrets): migrate auth-system/oauth2-proxy to openbao
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/external-secret.yaml
  kubernetes/talos-flux/apps/auth-system/oauth2-proxy/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4926 feat(external-secrets): migrate home-automation to openbao
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#4929 feat(external-secrets): migrate networking to openbao
  kubernetes/talos-flux/apps/networking/external-dns/cloudflare/external-secret.yaml
  kubernetes/talos-flux/apps/networking/external-dns/opnsense/external-secret.yaml
  kubernetes/talos-flux/apps/networking/playit/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#4930 feat(external-secrets): migrate observability to openbao
  kubernetes/talos-flux/apps/observability/opnsense-exporter/app/external-secrets.yaml
Labels: area/kubernetes, cluster/talos-flux

#4931 feat(external-secrets): migrate productivity to openbao
  kubernetes/talos-flux/apps/productivity/linkwarden/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#4947 fix(openbao): adjust kube-nas backend config
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/kube-nas

#4948 fix(openbao): restic snapshots dont work with raft storage :(
  kubernetes/kube-nas/apps/secops/openbao/app/helm-release.yaml
  kubernetes/kube-nas/apps/secops/openbao/app/kustomization.yaml
  kubernetes/kube-nas/apps/secops/openbao/app/persistent-volume-claim.yaml
  kubernetes/kube-nas/apps/secops/openbao/app/replication-destination.yaml
  kubernetes/kube-nas/apps/secops/openbao/app/replication-source.yaml
  kubernetes/kube-nas/apps/secops/openbao/app/secrets.sops.yaml
Labels: area/kubernetes, cluster/kube-nas

#4949 feat(openbao): setup snapshots
  infra/terraform/README.md
  kubernetes/kube-nas/apps/secops/openbao/flux-sync.yaml
  kubernetes/kube-nas/apps/secops/openbao/snapshots/external-secret.yaml
  kubernetes/kube-nas/apps/secops/openbao/snapshots/helm-release.yaml
  kubernetes/kube-nas/apps/secops/openbao/snapshots/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas, area/terraform

#4964 feat(openbao): setup auth in kube-nas
  .pre-commit-config.yaml
  kubernetes/kube-nas/apps/secops/kustomization.yaml
  kubernetes/kube-nas/apps/secops/openbao-auth.yaml
Labels: area/kubernetes, cluster/kube-nas

#4965 fix(external-secrets): store sa reference
  kubernetes/kube-nas/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/kube-nas

#4966 feat(vault): remove vault.tyriis.dev
  kubernetes/kube-nas/apps/secops/kustomization.yaml
  kubernetes/kube-nas/apps/secops/vault/app/README.md
  kubernetes/kube-nas/apps/secops/vault/app/helm-release.yaml
  kubernetes/kube-nas/apps/secops/vault/app/kms-vault-unseal.sops.yaml
  kubernetes/kube-nas/apps/secops/vault/app/kustomization.yaml
  kubernetes/kube-nas/apps/secops/vault/app/persistent-volume-claim.yaml
  kubernetes/kube-nas/apps/secops/vault/app/replication-destination.yaml
  kubernetes/kube-nas/apps/secops/vault/app/replication-source.yaml
  kubernetes/kube-nas/apps/secops/vault/app/secret.sops.yaml
  kubernetes/kube-nas/apps/secops/vault/flux-sync.yaml
  kubernetes/kube-nas/apps/secops/vault/snapshots/external-secret.yaml
  kubernetes/kube-nas/apps/secops/vault/snapshots/helm-release.yaml
  kubernetes/kube-nas/apps/secops/vault/snapshots/kustomization.yaml
Labels: area/kubernetes, cluster/kube-nas

#4968 feat(atlantis): setup atlantis-techtales-io-terraform-github
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-github/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4969 fix(external-secrets): remove no longer existing store
  kubernetes/talos-flux/apps/secops/external-secrets/stores/cluster-secret-store.yaml
Labels: area/kubernetes, cluster/talos-flux

#4977 feat(atlantis): setup techtales-io/terraform-gcloud
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gcloud/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4979 feat(atlantis): migrate techtales-io/terraform-minio to stateless
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-minio/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4983 feat(atlantis): setup cloudflared tunnel for
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4984 fix(atlantis): mount age key to techtales-io/terraform-vault
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-vault/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#4985 Feature/atlantis techtales io terraform vault
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-vault/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-vault/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4988 feat(atlantis): setup techtales-io/terraform-opnsense
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4989 fix(atlantis): substitution does not work in kustomization
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-opnsense/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4998 feat(atlantis): setup techtales-io/terraform-gworkspace
  kubernetes/talos-flux/apps/atlantis/techtales-io/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/config/allowlist.txt
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/helm-values.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/secret.sops.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4999 fix(atlantis): remove copy paste error
  kubernetes/talos-flux/apps/atlantis/techtales-io/terraform-gworkspace/helm-values.yaml
Labels: area/kubernetes, cluster/talos-flux

#5000 feat(atlantis): remove old statefullset
  kubernetes/talos-flux/apps/atlantis/atlantis/app/config/allow_list.sh
  kubernetes/talos-flux/apps/atlantis/atlantis/app/config/orgAllowlist.txt
  kubernetes/talos-flux/apps/atlantis/atlantis/app/config/repos.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/external-secret.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/helm-release.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/ingress.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/kustomization.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/app/secret.sops.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/kustomization.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4987 feat(renovate): reconfiguration
  .github/dependabot.yml
  .github/renovate.json5
Labels: area/github

#5027 feat(openbao): add link to homepage
  kubernetes/talos-flux/apps/default/homepage/app/config/services.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/settings.yaml
Labels: area/kubernetes, cluster/talos-flux

#5028 feat(homepage): adjust layout
  kubernetes/talos-flux/apps/default/homepage/app/config/settings.yaml
Labels: area/kubernetes, cluster/talos-flux

#5052 feat(democratic-csi): setup local-hostpath on kube-nas
  kubernetes/base/flux/repositories/helm/democratic-csi-charts.yaml
  kubernetes/kube-nas/apps/democratic-csi/kustomization.yaml
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/helm-release.yaml
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/app/kustomization.yaml
  kubernetes/kube-nas/apps/democratic-csi/local-hostpath/flux-sync.yaml
  kubernetes/kube-nas/apps/democratic-csi/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas
