Repository tyriis/home-ops, pull requests merged in 2025-01, with the labels that each got.

#4247 feat(zigbee2mqtt): prepare for local adapter
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/prometheus-rule.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4248 feat(zigbee2mqtt): bind pod to node with usb adapter
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4249 fix(zigbee2mqtt): adjust privileges, restore from basement
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/replication-destination.yaml
Labels: area/kubernetes, cluster/talos-flux

#4277 feat(zigbee2mqtt): cleanup old deployments
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement-storage/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement-storage/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement-storage/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement-storage/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/assets/lumi.sensor_occupy.agl1.js
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/pod-monitor.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/basement/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs-storage/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs-storage/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs-storage/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs-storage/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs/pod-monitor.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs/prometheus-rule.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/downstairs/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs-storage/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs-storage/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs-storage/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs-storage/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs/pod-monitor.yaml
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/upstairs/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#4278 feat(zigbee2mqtt): adjust to restore from new snapshot
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/replication-destination.yaml
Labels: area/kubernetes, cluster/talos-flux

#4219 feat(harbor): initial setup of harbor
  kubernetes/kube-nas/apps/oci-registry/harbor/app/database.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/app/helm-release.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/app/kustomization.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/app/pvc.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/app/secrets.sops.yaml
  kubernetes/kube-nas/apps/oci-registry/harbor/flux-sync.yaml
  kubernetes/kube-nas/apps/oci-registry/kustomization.yaml
  kubernetes/kube-nas/apps/oci-registry/namespace.yaml
Labels: area/kubernetes, cluster/kube-nas

#4283 fix(harbor): adjust ingress
  kubernetes/kube-nas/apps/oci-registry/harbor/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-nas

#4347 feat(it-tools): initial setup
  kubernetes/talos-flux/apps/default/it-tools/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/it-tools/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/it-tools/flux-sync.yaml
  kubernetes/talos-flux/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4402 fix(vault): switch storage
  kubernetes/talos-flux/apps/secops/vault/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4403 feat(vault): setup volsync backup
  kubernetes/talos-flux/apps/secops/vault/app/kustomization.yaml
  kubernetes/talos-flux/apps/secops/vault/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/secops/vault/app/replication-destination.yaml
  kubernetes/talos-flux/apps/secops/vault/app/replication-source.yaml
  kubernetes/talos-flux/apps/secops/vault/app/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4404 feat(vault): add recovery
  kubernetes/talos-flux/apps/secops/vault/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4405 feat(vault): switch to nfs snapshots
  kubernetes/talos-flux/apps/kube-system/csi-driver-nfs/app/helm-release.yaml
  kubernetes/talos-flux/apps/secops/vault/app/helm-release.yaml
  kubernetes/talos-flux/apps/secops/vault/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/secops/vault/app/replication-destination.yaml
  kubernetes/talos-flux/apps/secops/vault/app/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#4408 feat(vault): configure backup
  kubernetes/kube-nas/apps/secops/vault/app/helm-release.yaml
  kubernetes/kube-nas/apps/secops/vault/app/kustomization.yaml
  kubernetes/kube-nas/apps/secops/vault/app/persistent-volume-claim.yaml
  kubernetes/kube-nas/apps/secops/vault/app/replication-destination.yaml
  kubernetes/kube-nas/apps/secops/vault/app/replication-source.yaml
  kubernetes/kube-nas/apps/secops/vault/app/secret.sops.yaml
  kubernetes/kube-nas/apps/secops/vault/flux-sync.yaml
  kubernetes/talos-flux/apps/secops/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#4417 feat(vault): enable snapshots
  kubernetes/kube-nas/apps/secops/vault/app/README.md
  kubernetes/kube-nas/apps/secops/vault/app/TODO.md
  kubernetes/kube-nas/apps/secops/vault/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-nas

#4425 feat(minecraft): setup public server
  kubernetes/talos-flux/apps/gaming-public/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config/spigot.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/forwarding.secret
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming-public/namespace.yaml
Labels: area/kubernetes, cluster/talos-flux

#4427 fix(minecraft): disable rcon
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4429 feat(minecraft): upgrade public-playground to 1.21.4
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4430 fix(minecraft): set server onlineMode to false when behind proxy
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux
