Repository tyriis/home-ops, pull requests merged in 2025-02, with the labels that each got.

#4433 feat(ring-mqtt): setup
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4434 fix(ring-mqtt): mount
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/talos-flux/flux/config/cluster-settings.yaml
Labels: area/kubernetes, cluster/talos-flux

#4436 feat(ring-mqtt): add pvc and init-container to persist token and config
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4432 feat(minecraft): backup public playground world
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/secret.sops.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/velocity.toml
Labels: area/kubernetes, cluster/talos-flux

#4439 feat(miecraft): setup cloudflare tunnel
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
Labels: area/kubernetes, cluster/talos-flux

#4440 feat(minecraft): setup plugins for minecraft-public
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4445 feat(playit): implementation
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/networking/kustomization.yaml
  kubernetes/talos-flux/apps/networking/playit/app/external-secret.yaml
  kubernetes/talos-flux/apps/networking/playit/app/helm-release.yaml
  kubernetes/talos-flux/apps/networking/playit/app/kustomization.yaml
  kubernetes/talos-flux/apps/networking/playit/app/networkpolicy.yaml
  kubernetes/talos-flux/apps/networking/playit/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4447 fix(playit): re-structure secret
  kubernetes/talos-flux/apps/networking/playit/app/external-secret.yaml
  kubernetes/talos-flux/apps/networking/playit/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4451 feat(velocity): add Vitelist plugin
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4452 feat(velocity): add whitelist
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/external-secret.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4456 feat(minecraft): change public survival seed
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4459 feat(minecraft): remove no longer needed bedrock standalone server
  kubernetes/talos-flux/apps/gaming/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/app/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/app/ingress-route-udp.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/app/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/app/volsync-replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/storage/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/storage/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/storage/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-bedrock/storage/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4460 feat(minecraft): re-configure velocity proxy
  kubernetes/talos-flux/apps/gaming/minecraft-java/README.md
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/forwarding.secret
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4462 fix(minecraft): adjust velocity config
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4463 fix(minecraft): forwarding secret
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/forwarding.secret
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4471 feat(minecraft): setup vane for lobby server
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#4472 fix(minecraft): rename env var for plugin loading
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4473 fix(minecraft): proper reference env
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4474 feat(minecraft): install ProtocolLib in lobby world
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#4477 feat(minecraft): get rid of itzg chart
  kubernetes/talos-flux/apps/gaming/minecraft-java/README.md
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/kustomize-config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4480 feat(minecraft): add backups to survival world
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4484 feat(minecraft): configure persistence for creative world
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/secret.sops.yaml
Labels: area/kubernetes, cluster/talos-flux

#4487 feat(minecraft): migrate survival map
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/secret.sops.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
Labels: area/kubernetes, cluster/talos-flux

#4488 fix(minecraft): indent
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4490 fix(minecraft): indent
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4491 feat(minecraft): adjust velocity dependencies
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/config/config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/waterfall-proxy/persistent-volume-claim.yaml
Labels: area/kubernetes, cluster/talos-flux

#4492 feat(minecraft): install vane plugin in creative-world
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#4494 feat(minecraft): adjust public server config
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-curseforge-api-key.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-proxy-forwarding.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/external-secrets/minecraft-rcon.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/global-secrets/kustomize-config.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/forwarding.secret
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/playground-world/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4495 fix(minecraft): pvc names
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4496 feat(minecraft): adjust public helm ressource names
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/playground-world/replication-source.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/helm-release.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#4497 chore(minecraft): cleanup
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/velocity.toml
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config-map.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/paper-global.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/config/spigot.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/replication-destination.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/replication-source.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world-paper/secret.sops.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/velocity.toml
Labels: area/kubernetes, cluster/talos-flux

#4516 feat(linkwarden): setup
  kubernetes/talos-flux/apps/productivity/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/database.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/external-secret.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/helm-release.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/kustomization.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/replication-destination.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/replication-source.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/app/secret.sops.yaml
  kubernetes/talos-flux/apps/productivity/linkwarden/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4520 feat(minecraft): setup bluemap database
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/database.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/external-secret.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/kustomize-config.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4521 feat(minecraft): configure bluemap for creative-world
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/bluemap-database/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins/BlueMap/storage/sql.conf
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/kustomization.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/external-secrets/minecraft-bluemap-postgres.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/helm-release.yaml
  kubernetes/talos-flux/apps/gaming/minecraft-java/global-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4536 fix(arc): move back to dind
  kubernetes/talos-flux/apps/github/actions-runner-controller/runners/tyriis/terraform-github/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#4543 feat(atlantis): migrate tyriis to app-template
  kubernetes/talos-flux/apps/atlantis/atlantis/flux-sync.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/helm-release.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/ingress.yaml
  kubernetes/talos-flux/apps/atlantis/atlantis/tyriis/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4615 feat(blackbox-exporter): setup
  kubernetes/talos-flux/apps/atlantis/tyriis/terraform-github/external-secret.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/app/helm-release.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4616 feat(capacitor): remove, i dont need a flux ui at all
  kubernetes/talos-flux/apps/flux-system/capacitor/app/helm-release.yaml
  kubernetes/talos-flux/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/talos-flux/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/talos-flux/apps/flux-system/capacitor/flux-sync.yaml
  kubernetes/talos-flux/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4617 feat(flux): install operator
  kubernetes/talos-flux/flux/operator/helm-release.yaml
  kubernetes/talos-flux/flux/operator/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4618 feat(flux): adjust structure for operator + instance
  kubernetes/talos-flux/flux/apps-sync.yaml
  kubernetes/talos-flux/flux/flux-manifests/gotk-components.yaml
  kubernetes/talos-flux/flux/flux-manifests/kustomization.yaml
  kubernetes/talos-flux/flux/flux-repositories-sync.yaml
  kubernetes/talos-flux/flux/flux-sync.yaml
  kubernetes/talos-flux/flux/instance/flux-instance.yaml
  kubernetes/talos-flux/flux/instance/kustomization.yaml
  kubernetes/talos-flux/flux/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#4619 feat(flux): add renovate annotation
  kubernetes/base/flux/repositories/oci/flux-manifests.yaml
  kubernetes/kube-nas/flux/instance/flux-instance.yaml
  kubernetes/talos-flux/flux/instance/flux-instance.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-nas

#4628 ci(renovate): adjust minecraft merge strategy fixes #4519
  .github/renovate.json5
Labels: area/github

#4629 feat(home-assistant): provision 2nd volume
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux

#4630 feat(home-assistant): mount new config volume
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/talos-flux/apps/home-automation/home-assistant/app/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#4644 feat(cert-manager): enable service monitor
  kubernetes/talos-flux/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/flux-sync.yaml
  kubernetes/talos-flux/apps/cert-manager/cert-manager/issuers/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux
