Repository tyriis/home-ops, pull requests merged in 2025-08, with the labels that each got.

#6118 fix(minecraft): increase upgrade timeout #6116
  kubernetes/base/apps/minecraft/paper-server/helm-release.yaml
Labels: area/kubernetes

#6119 feat(minecraft): upgrade plugins and cleanup
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/lobby-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/velocity-proxy/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/creative-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/lobby-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/survival-world/config/plugins.txt
  kubernetes/talos-flux/apps/gaming/minecraft-java/velocity-proxy/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#6184 chore(taskfiles): standardize schema
  .taskfiles/backstage/Taskfile.yaml
  .taskfiles/debug-tasks/Taskfile.yaml
  .taskfiles/devenv/Taskfile.yaml
  .taskfiles/devenv/check.yaml
  .taskfiles/devenv/cluster.yaml
  .taskfiles/devenv/flux.yaml
  .taskfiles/lint/Taskfile.yaml
  .taskfiles/pre-commit/Taskfile.yaml
  .taskfiles/rook-ceph/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

#6263 feat(zigbee2mqtt): migrate oauth2-proxy to kube-lab
  kubernetes/talos-flux/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/talos-flux

#6292 feat(minecraft): new seed for techinik
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config-map.yaml
  kubernetes/talos-flux/apps/gaming-public/minecraft-java/survival-world/config/plugins.txt
Labels: area/kubernetes, cluster/talos-flux

#6346 feat(cloudflared): setup manual config for tunnel in kube-lab
  kubernetes/kube-lab/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/kube-lab/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/kube-lab

#6347 feat(external-dns): adjust owner reference
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6348 feat(echo-server): setup external-dns
  kubernetes/kube-lab/apps/default/echo-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6349 feat(external-dns): set proper external dns domain
  kubernetes/kube-lab/apps/default/echo-server/app/helm-release.yaml
  kubernetes/kube-lab/apps/kube-system/cilium/gateway/gateway.yaml
  kubernetes/kube-lab/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6350 fix(cloudflared): change mount path
  kubernetes/kube-lab/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6370 feat(external-dns): configure nginx external
  kubernetes/kube-lab/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/echo-server/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/kube-lab

#6374 feat(flux): enable webhook
  kubernetes/kube-lab/apps/flux-system/flux-components/webhook/helm-release.yaml
  kubernetes/kube-lab/apps/flux-system/flux-components/webhook/kustomization.yaml
  kubernetes/kube-lab/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab

#6379 chore(kube-lab): standardisation
  kubernetes/kube-lab/apps/auth-system/oauth2-proxy/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/echo-server/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/homepage/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/it-tools/app/helm-release.yaml
  kubernetes/kube-lab/apps/dragonfly-system/dragonfly/operator/helm-release.yaml
  kubernetes/kube-lab/apps/flux-system/flux-components/webhook/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/i-see-dead-pods/app/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/irqbalance/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/kube-lab/apps/networking/unifi-controller/app/helm-release.yaml
  kubernetes/kube-lab/apps/tekton-system/tekton/krr-cron/helm-release.yaml
  kubernetes/kube-lab/apps/voice-assistant/piper/app/helm-release.yaml
  kubernetes/kube-lab/apps/voice-assistant/whisper/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6380 feat(jazzlyn): move ml-detector to kube-lab
  kubernetes/kube-lab/apps/jazzlyn/kustomization.yaml
  kubernetes/kube-lab/apps/jazzlyn/ml-detector/app/configuration.yaml
  kubernetes/kube-lab/apps/jazzlyn/ml-detector/app/helm-release.yaml
  kubernetes/kube-lab/apps/jazzlyn/ml-detector/app/kustomization.yaml
  kubernetes/kube-lab/apps/jazzlyn/ml-detector/flux-sync.yaml
  kubernetes/kube-lab/apps/jazzlyn/namespace.yaml
  kubernetes/talos-flux/apps/jazzlyn/ring-ml-person-detector/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6389 feat(grafana): migrate to new cluster
  kubernetes/kube-lab/apps/observability/grafana/app/config/contactpoints.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/config/datasources.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/config/policies.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/dashboards/resource-usage.json
  kubernetes/kube-lab/apps/observability/grafana/app/external-secret.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/helm-repository.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/kustomization.yaml
  kubernetes/kube-lab/apps/observability/grafana/flux-sync.yaml
  kubernetes/kube-lab/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/grafana/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/grafana/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6390 fix(arc): enable flux sync
  kubernetes/kube-lab/apps/github/actions-runner-controller/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6396 feat(speedtest): migrate to kube-lab
  kubernetes/components/atlantis/helm-release.yaml
  kubernetes/kube-lab/apps/anubis-system/anubis-grafana/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/kustomization.yaml
  kubernetes/kube-lab/apps/default/openspeedtest/app/helm-release.yaml
  kubernetes/kube-lab/apps/default/openspeedtest/app/kustomization.yaml
  kubernetes/kube-lab/apps/default/openspeedtest/flux-sync.yaml
  kubernetes/talos-flux/apps/default/openspeedtest/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6413 feat(intel-device-plugins): migrate to kube-lab
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/flux-sync.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/operator/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/operator/kustomization.yaml
  kubernetes/kube-lab/apps/kube-tools/kustomization.yaml
  kubernetes/talos-flux/apps/kube-tools/intel-device-plugins/flux-sync.yaml
  kubernetes/talos-flux/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6428 feat(intel-device-plugins): add helm repo
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/operator/helm-release.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/operator/helm-repository.yaml
  kubernetes/kube-lab/apps/kube-tools/intel-device-plugins/operator/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab

#6429 feat(home-assistant): fresh setup in kube-lab
  kubernetes/kube-lab/apps/gaming/minecraft-java/public-velocity-proxy/persistent-volume-claim.yaml
  kubernetes/kube-lab/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/kube-lab/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/kube-lab/apps/home-automation/home-assistant/app/pvc.yaml
  kubernetes/kube-lab/apps/home-automation/home-assistant/flux-sync.yaml
  kubernetes/kube-lab/apps/home-automation/kustomization.yaml
  kubernetes/kube-lab/apps/home-automation/namespace.yaml
Labels: area/kubernetes, cluster/kube-lab

#6430 feat(blackbox-exporter): move to kube-lab
  kubernetes/kube-lab/apps/observability/blackbox-exporter/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/blackbox-exporter/app/helm-repository.yaml
  kubernetes/kube-lab/apps/observability/blackbox-exporter/app/http-route.yaml
  kubernetes/kube-lab/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/kube-lab/apps/observability/blackbox-exporter/flux-sync.yaml
  kubernetes/kube-lab/apps/observability/grafana/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/blackbox-exporter/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6433 feat(kube-lab): update http routes
  kubernetes/kube-lab/apps/argo-system/argo-workflows/app/http-route.yaml
  kubernetes/kube-lab/apps/default/podinfo/app/http-route.yaml
  kubernetes/kube-lab/apps/tekton-system/tekton/app/http-route.yaml
Labels: area/kubernetes, cluster/kube-lab

#6435 feat(kromgo): move to kube-lab
  kubernetes/kube-lab/apps/observability/kromgo/app/configuration.yaml
  kubernetes/kube-lab/apps/observability/kromgo/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/kromgo/app/kustomization.yaml
  kubernetes/kube-lab/apps/observability/kromgo/flux-sync.yaml
  kubernetes/kube-lab/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/kromgo/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6436 fix(kromgo): route in kube-lab
  kubernetes/kube-lab/apps/observability/kromgo/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6440 feat(govee2mqtt): migrate to kube-lab
  kubernetes/kube-lab/apps/home-automation/govee2mqtt/app/external-secret.yaml
  kubernetes/kube-lab/apps/home-automation/govee2mqtt/app/helm-release.yaml
  kubernetes/kube-lab/apps/home-automation/govee2mqtt/app/kustomization.yaml
  kubernetes/kube-lab/apps/home-automation/govee2mqtt/flux-sync.yaml
  kubernetes/kube-lab/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/govee2mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6441 feat(loki): move to kube-lab
  kubernetes/kube-lab/apps/observability/kustomization.yaml
  kubernetes/kube-lab/apps/observability/loki/app/external-secret.yaml
  kubernetes/kube-lab/apps/observability/loki/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/loki/app/helm-repository.yaml
  kubernetes/kube-lab/apps/observability/loki/app/kustomization.yaml
  kubernetes/kube-lab/apps/observability/loki/app/loki-alerting-rules.yaml
  kubernetes/kube-lab/apps/observability/loki/app/prometheus-rule.yaml
  kubernetes/kube-lab/apps/observability/loki/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/observability/loki/app/ingress.yaml
  kubernetes/talos-flux/apps/observability/loki/app/secret.sops.yaml
  kubernetes/talos-flux/apps/observability/loki/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6445 feat(ring-mqtt): migrate to kube-lab
  kubernetes/kube-lab/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/kube-lab/apps/home-automation/kustomization.yaml
  kubernetes/kube-lab/apps/home-automation/ring-mqtt/app/external-secret.yaml
  kubernetes/kube-lab/apps/home-automation/ring-mqtt/app/helm-release.yaml
  kubernetes/kube-lab/apps/home-automation/ring-mqtt/app/kustomization.yaml
  kubernetes/kube-lab/apps/home-automation/ring-mqtt/flux-sync.yaml
  kubernetes/talos-flux/apps/home-automation/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/replication-destination.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/replication-source.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/app/secret.sops.yaml
  kubernetes/talos-flux/apps/home-automation/ring-mqtt/flux-sync.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab

#6449 fix: typo
  kubernetes/kube-lab/apps/home-automation/locking-service/flux-sync.yaml
Labels: area/kubernetes, cluster/kube-lab

#6450 feat(n8n): implement volsync backup
  kubernetes/talos-flux/apps/home-automation/n8n/app/external-secret.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/kustomization.yaml
  kubernetes/talos-flux/apps/home-automation/n8n/app/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#6451 fix(n8n): external secret path
  kubernetes/talos-flux/apps/home-automation/n8n/app/external-secret.yaml
Labels: area/kubernetes, cluster/talos-flux

#6452 feat(tekton): remove from talos-flux
  kubernetes/talos-flux/apps/tekton-system/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/namespace.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/app/ingress.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/app/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/flux-sync.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/krr-cron/helm-release.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/krr-cron/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/pipelines/goodbye.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/pipelines/krr.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/pipelines/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/tasks/goodbye.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/tasks/hello-world.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/tasks/krr/rbac.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/tasks/krr/task.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/tasks/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/triggers/kustomization.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/triggers/templates/hello.yaml
  kubernetes/talos-flux/apps/tekton-system/tekton/triggers/templates/krr.yaml
Labels: area/kubernetes, cluster/talos-flux

#6453 feat(homepage): remove from talos-flux
  kubernetes/talos-flux/apps/default/homepage/app/config/bookmarks.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/custom.css
  kubernetes/talos-flux/apps/default/homepage/app/config/custom.js
  kubernetes/talos-flux/apps/default/homepage/app/config/docker.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/kubernetes.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/proxmox.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/services.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/settings.yaml
  kubernetes/talos-flux/apps/default/homepage/app/config/widgets.yaml
  kubernetes/talos-flux/apps/default/homepage/app/external-secret.yaml
  kubernetes/talos-flux/apps/default/homepage/app/helm-release.yaml
  kubernetes/talos-flux/apps/default/homepage/app/kustomization.yaml
  kubernetes/talos-flux/apps/default/homepage/app/rbac.yaml
  kubernetes/talos-flux/apps/default/homepage/flux-sync.yaml
  kubernetes/talos-flux/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#6454 fix(dragonfly): add missing permissions for pod distruption budget
  kubernetes/kube-lab/apps/dragonfly-system/dragonfly/operator/rbac.yaml
Labels: area/kubernetes, cluster/kube-lab

#6455 fix(n8n): backup config
  kubernetes/talos-flux/apps/home-automation/n8n/app/replication-source.yaml
Labels: area/kubernetes, cluster/talos-flux

#6458 feat(n8n): add test webhook
  kubernetes/kube-lab/apps/home-automation/n8n/app/helm-release.yaml
Labels: area/kubernetes, cluster/kube-lab

#6457 fix(i-see-dead-pods): kube-lab kustomization
  kubernetes/kube-lab/apps/kube-tools/i-see-dead-pods/app/kustomization.yaml
Labels: area/kubernetes, cluster/kube-lab

#6460 feat: shutdown no longer needed services on talos-flux
  kubernetes/talos-flux/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux

#5708 feat(arr): setup
  kubernetes/kube-lab/apps/media/bazarr/app/helm-release.yaml
  kubernetes/kube-lab/apps/media/bazarr/app/kustomization.yaml
  kubernetes/kube-lab/apps/media/bazarr/flux-sync.yaml
  kubernetes/kube-lab/apps/media/kustomization.yaml
  kubernetes/kube-lab/apps/media/namespace.yaml
  kubernetes/kube-lab/apps/media/storage.yaml
Labels: area/kubernetes, area/devenv, cluster/kube-lab

#6465 feat(gatus): migrate to kube-lab
  kubernetes/kube-lab/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/kube-lab/apps/observability/gatus/app/helm-release.yaml
  kubernetes/kube-lab/apps/observability/gatus/app/kustomization.yaml
  kubernetes/kube-lab/apps/observability/gatus/app/prometheus-rule.yaml
  kubernetes/kube-lab/apps/observability/gatus/app/resources/config.yaml
  kubernetes/kube-lab/apps/observability/gatus/flux-sync.yaml
  kubernetes/kube-lab/apps/observability/kustomization.yaml
  kubernetes/talos-flux/apps/networking/cloudflared/app/config.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/external-secret.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/persistent-volume-claim.yaml
  kubernetes/talos-flux/apps/observability/gatus/app/replication-source.yaml
  kubernetes/talos-flux/apps/observability/gatus/flux-sync.yaml
  kubernetes/talos-flux/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/talos-flux, cluster/kube-lab
